<template>
  <footer class="footer">
	    <div class="ui grid container">
		  <div class="seven wide column">
		  		<h4>AcuRev2000-WEB</h4>
		  		<p>Web-based metering app for AcuRev 2000 seriesMulti-channel Power Meters from Accuenergy</p>
		  		<a href="https://www.accuenergy.com/product/acurev-multi-circuit-power-metering-system">Learn more online</a>
		  </div>

		  <div class="four wide column">
		  		<h4>Support</h4>
		  		<p>Call or email for engineering support</p>
		  		<h4>Phone: +1.416.497.4100 </h4>
		  		<h4>Email: <a href="mailto:support@accuenergy.com">support@accuenergy.com</a></h4>		  	
		  </div>

		  <div class="four wide column">
		  		<h4>Resources</h4>
		  		<p>Online guides, manuals, videos and diagrams available online</p>
		  		<h4><a href="https://www.accuenergy.com">www.accuenergy.com</a></h4>		  	
		  </div>

	    </div>
  </footer>
</template>

<script>

export default {
  name: 'footer'
}
</script>

<style scoped>
h4{
	margin: 0;
	font-size:90%;
}
a {
    color: #337ab7;
    text-decoration: none;
}
p{
	font-size:85%;
	margin:10px 0 10px;
	opacity: .7;
}
.footer{
	/*position: absolute;*/
	/*position:relative;*/
	margin-top: 50px;
	right: 0;
	bottom: 0px;
	left: 0;
/*	width:100%;
	height:100px;*/
}

.ui.grid.container {
    width:100% !important;
    padding: 20px;
    	color: #eee;
	background-color: #333;
}
</style>
