<template>
  <div id="header">
	<div class="ui large menu secondary">
		  <span class="item">
		    <img src="../assets/logo-accuenergy.png" v-bind:style="{'width':'50%'}">
		  </span>
		  <div class="right menu">
		    <div class="ui dropdown item" :class="{underline: $route.path.includes('metering')}">
		      Metering <i class="dropdown icon"></i>
		      <div class="menu">
		        <router-link to="/metering/realtime"><a :class="[{selected: $route.path=='/metering/realtime', active: $route.path=='/metering/realtime'}, 'item']">Real-Time</a></router-link>
		        <router-link to="/metering/demand"><a :class="[{selected: $route.path=='/metering/demand', active: $route.path=='/metering/demand'}, 'item']">Demand</a></router-link>
		        <router-link to="/metering/energy"><a :class="[{selected: $route.path=='/metering/energy', active: $route.path=='/metering/energy'}, 'item']">Energy</a></router-link>
<!-- 		        <router-link to="/metering/harmonics"><a :class="[{selected: $route.path=='/metering/harmonics', active: $route.path=='/metering/harmonics'}, 'item']">Harmonics</a></router-link> -->
		        <router-link to="/metering/io"><a :class="[{selected: $route.path=='/metering/io', active: $route.path=='/metering/io'}, 'item']">I/O</a></router-link>
		      </div>
		    </div>

		    <div class="ui dropdown item" :class="{underline: $route.path.includes('status')}">
		      Status <i class="dropdown icon"></i>
		      <div class="menu">
		        <router-link to="/status/system"><a :class="[{selected: $route.path=='/status/system', active: $route.path=='/status/system'}, 'item']">Device Information</a></router-link>
		        <router-link to="/status/alarm"><a :class="[{selected: $route.path=='/status/alarm', active: $route.path=='/status/alarm'}, 'item']">Alarm Status</a></router-link>
		       <!--  <router-link to="/status/soe"><a :class="[{selected: $route.path=='/status/soe', active: $route.path=='/status/soe'}, 'item']">SOE</a></router-link> -->
		        <router-link to="/status/systemevent"><a :class="[{selected: $route.path=='/status/systemevent', active: $route.path=='/status/systemevent'}, 'item']">System Event</a></router-link>
		      </div>
		    </div>

		    <div class="ui dropdown item" :class="{underline: $route.path.includes('settings')}">
		      <i class="setting icon"></i>Settings <i class="dropdown icon"></i>
		      <div class="menu">
		        <router-link to="/settings/meter"><a :class="[{selected: $route.path=='/settings/meter', active: $route.path=='/settings/meter'}, 'item']">Meter</a></router-link>
		        <router-link to="/settings/communications"><a :class="[{selected: $route.path=='/settings/communications', active: $route.path=='/settings/communications'}, 'item']">Communications</a></router-link>
		        <router-link to="/settings/management"><a :class="[{selected: $route.path=='/settings/management', active: $route.path=='/settings/management'}, 'item']">Management</a></router-link>
		        <router-link to="/settings/firmware"><a :class="[{selected: $route.path=='/settings/firmware', active: $route.path=='/settings/firmware'}, 'item']">Firmware</a></router-link>
		      </div>
		    </div>
		    <a class="item" @click='logout' href='/login'>
		    	<router-link to="/login">Logout</router-link>
		    </a>
		  </div>
	</div>
  </div>
</template>

<script>
export default {
	name: 'header',
    data() {
      return {
        activeIndex: '1',
        activeIndex2: '1',
        isRouter:true
      };
    },
    methods: {
      handleSelect(key, keyPath) {
        console.log(key, keyPath);
      },

      logout(){
      	sessionStorage.clear();
      }
    },
    mounted(){
    	$('.ui.dropdown.item').dropdown({on:'hover'})
    }
}
</script>

<style>
.underline{
	border-bottom: 2px solid #088c91 !important;
}
/*.el-menu--horizontal .el-menu-item, .el-menu--horizontal .el-submenu{
	float:right;	
}
.el-menu--horizontal >.el-menu-item:nth-child(2){
	float:left;	
	border-bottom: 0px
}
.el-menu--horizontal .el-menu-item, .el-menu--horizontal .el-submenu .el-submenu__title{
	height:40px;
	line-height:40px;	
	font-size:15px;
}
.el-menu--horizontal .el-submenu .el-menu-item{
	height:30px;
	line-height:30px;
}
.el-menu--horizontal .el-submenu>.el-menu{
	top:45px;
}
#header{
	width:100%;
	height:40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.setting.icon{
	margin-top: -25px
}*/
</style>