<template>
  <div id="login">    
   <div class="ui negative message fail">
      <div class="header">
        Opps..Connection failed!
        <i class="remove icon large" ></i>
      </div>
    </div>

    
    	<div class="img"><img src="../assets/logo-accuenergy.png"></div>
      <p>Sign in to continue</p>
      <div class="form ui raised segment">
        <p><b>Access Level</b></p>

        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" v-model="picked" class="hidden" value='user'>
            <label> User <span>View reports and settings</span></label>
          </div>
        </div>
        <div class="field" style='margin-top:10px;margin-bottom:20px'>
          <div class="ui radio checkbox">
            <input type="radio" v-model="picked" class="hidden" value='admin'>
            <label> Admin <span>Edit settings, control meter</span></label>
          </div>
        </div>

        <p><b>Password</b></p>
        <div class="ui input" style="width:100%;margin-bottom:10px">
          <input type="password" placeholder="Password" autofocus v-model='password'>
        </div>

        <button :class="{'loading':!show}" class="ui primary button big" @click="login">Sign in</button>
      </div>    

  </div>
</template>

<script>
import Conf from '../conf/conf'
var host = Conf.host

export default {
	name: 'login',
    data() {
      return {
        picked:'admin',
        password: '',
        show: true
      }
    },
    methods: {
      login(){
        var self = this
        this.show = false
        location.href = '/metering/realtime'
        // setTimeout(()=>{
        //   axios.post('/api/auth/token/', {    //URI:/api/meters/4000/users/login
        //     username: this.picked,
        //     password: 'admin123'
        //   })
        //     .then(function (response) {
        //         sessionStorage.token = response.data.token
        //         location.href = '/metering/realtime'
        //     })
        //     .catch(function (error) {
        //         $('.fail').transition('slide down')
        //         setTimeout(function(){
        //          $('.fail').transition('slide down').css('display', 'none')
        //         }, 3000)
        //         self.show = true
        //         console.log(error);
        //     });
        // }, 300)
      }
    },
    mounted(){
      $('.ui.radio.checkbox').checkbox()
      $(document).keypress((e) => {
        if(e.which == 13) {
            this.login()
        }
    });
    }

}
</script>

<style>
#login .img{
	text-align: center;
	margin-top: 25px;
}

#login .img img{
	width:12%;
}

#login > p{
    text-align: center;
}

#login .form{
  margin-top: 20px;
  margin-left: 37%;
  margin-right: 37%
}
span{
  font-size:85%;
  opacity: .7;
}
button{
  width:100%;
}
.ui.input img{
  height:20%;
  width:20%;
  margin: auto
}
.message.fail{
  display: none;
  position: fixed;
  z-index: 101;
  top:0;
  left:0%;
  width:100%;
  font-size: 110%
}
.ui.segment{
  padding:2em 2em;
}
</style>