<template>
  <div id="main">
    <app-header></app-header>
    <router-view/>
    <app-footer></app-footer>
  </div>
</template>

<script>
import Header from './header'
import Footer from './footer'

export default {
  components:{
    'app-header': Header,
    'app-footer': Footer
  },
  name: 'main',
}
</script>

<style>
/*#main {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}*/
</style>
