<template>
  <div id="realtime">
  	<div class="title">
  		<h2>
  			<i class='dashboard icon'></i>
  			<span>Metering</span> &nbsp 
  			<span class="small"> / Real-Time</span>
  			<span style='margin-left:30%;color:#088c91'><i>Real-Time</i></span>
  		</h2>
  	</div>

	<div class="load" v-if="pageLoading">
		<img src="../assets/loading.gif">
	</div>

	<div class="content" v-if="!pageLoading">
		<table class="ui striped table selectable celled grey">
		  	<thead>
		    	<tr>
					<th>System Parameter</th>
					<th>A</th>
					<th>B</th>
					<th>C</th>
					<th>Total</th>
				    <th>Average</th>
		    	</tr>
		  	</thead>  		
		  	<tbody>
			    <tr v-for='item in table'>
					<td>{{ item["name"] }}  {{ item['unit'] }}</td>
					<td>{{ item["Phase A"] }}</td>
					<td>{{ item["Phase B"] }}</td>
					<td>{{ item["Phase C"] }}</td>
					<td>{{ item["Total"] }}</td>
					<td>{{ item["Average"] }}</td>
			    </tr>
		  	</tbody>
		</table>	

		<div class="ui dropdown button">
		  <span class="text">Select a channel</span>
		  <i class="dropdown icon"></i>
		  <div class="menu">
		    <div class="item" v-for="board in boards">
		      <i class="dropdown icon"></i>
		      <span class="text">{{board.name}}</span>
		      <div class="menu" v-if='board.id == 1'>
		        <div class="item" v-for='n in 4' @click='channel(1,n)'>main board channel {{n}}</div>
		      </div>
		      <div class="menu scrolling1" v-if='board.id == 2'>
		        <div class="item" v-for='n in 54' @click='channel(2,n)'>exp1 board <span v-if='n<37'>input</span><span v-else>user</span> channel {{n}}</div>
		      </div>
		      <div class="menu scrolling1" v-if='board.id == 3'>
		        <div class="item" v-for='n in 54' @click='channel(3,n)'>exp2 board  <span v-if='n<37'>input</span><span v-else>user</span> channel {{n}}</div>
		      </div>
		    </div>
		  </div>
		</div>

<!-- 		<div>
			<h4>Boards</h4>
			<div class="ui selection dropdown semanticDropDown">
			  <input type="hidden">
			  <i class="dropdown icon"></i>
			  <div class="default text">Select a board</div>
			  <div class="menu">
			    <div class="item" v-for="board in boards" :data-value="board.name" @click="changeBoard(board.id)">
			    {{board.name}}
				</div>
			  </div>
			</div>
		</div> -->

		<div v-if="!isLoading" style='margin-top:20px'>
			<table class="ui striped table selectable celled grey">
			  <thead>
			    <tr>
			      <th>Channel Parameter</th>
			      <th>Readings</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr v-for='item in channelTable'>
			      <td>{{ item['name'] }} {{ item['unit'] }}</td>
			      <td>{{ item['value'] }}</td>
			    </tr>
			  </tbody>
			</table>	
		</div>

		<div style="text-align:center" v-show="isLoading" class='load2'>
			<img src="../assets/loading.gif">
		</div>
	</div>

  </div>
</template>

<script>
import utils from '../utils/function'
var ECharts = require('vue-echarts')
import Conf from '../conf/conf'
var host = Conf.host
var meterName = Conf.meterName

export default {
  	name: 'realtime',
  	components: {
  		chart: ECharts
  	},
  	data(){
	  	return {
	  		boards: [
	  			{id: 1, name: 'mainboard'},
	  			{id: 2, name: 'exp1 board'},
	  			{id: 3, name: 'exp2 board'}
	  		],
	  		selected_board: '',
	  		selected_channel: '',
	  		table:[],
	  		channelTable: [],
	  		isLoading:false,
	  		pageLoading:true
	  	}
  	},

  	methods: {
      	channel(boardID, channelID){
      		this.isLoading = true
      		var url = '/api/meters/' + meterName + '/metering/realtime/boards/' + boardID + '/channels/' + channelID
      		utils.request('get', url).then((response)=>{
      			this.channelTable = response.data
      			setTimeout(()=>{this.isLoading = false}, 300)	
      		})
      	}

    }, 

   	computed: { 
	},

  	created(){
  		// var token = sessionStorage.token
        axios({
          method: 'get',
          url: '/api/meters/' + meterName + '/metering/realtime/system'
          // headers: {'Authorization': 'JWT '+token}
        })
        .then( response => {
          	this.table = response.data
        })
        .catch(function (error) {
          console.log(error);
        });
  	},

  	mounted() {
		setTimeout(() => {this.pageLoading = false}, 300)
  	},

  	updated() {
		// $(this.$el).find('.semanticDropDown').dropdown({on: 'hover'})
		$('.ui.dropdown.button')
		  .dropdown({
		    allowCategorySelection: false,
		    on: 'hover'
		  })     
  	}

}
</script>

<style scoped>
.menu.scrolling1 {
	max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden
}
h2{
	margin-left: 15px;
	font-weight: normal;
}
h4{
	display: inline-block;
}
.title{
	padding-top: 5px;
	height:45px;
	background-color: #f5f5f5
}
.content{
	min-height: 700px;
	padding: 20px 150px 0 150px
}
.load{
	min-height: 550px;
	padding:10%;
	text-align: center;
}
.load2{
	min-height: 312.8px
}
.small{
	font-size:65%;
	color: #777;
}
.echarts {
  height: 500px;
  width: 100%;
}
/*#realtime{
	margin-bottom: 450px
}*/
</style>
