<template>
  <div id="io">
    <div class="title">
      <h2>
        <i class='dashboard icon'></i>
        <span>Metering</span> &nbsp 
        <span class="small"> / I/O</span>
        <span style='margin-left:36%;color:#088c91'><i>I/O</i></span>
      </h2>
    </div>

  <div class="load" v-if="pageLoading">
    <img src="../assets/loading.gif">
  </div>

  <div class="content" v-if="!pageLoading"> 
    <div class="ui dropdown button">
      <span class="text">Select a board</span>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" v-for="board in boards" @click='channel(board.id)'>
          <span class="text">{{board.name}}</span>
        </div>
      </div>
    </div>


    <div v-if="!isLoading" style='margin-top:20px'>
      <table class="ui striped table selectable celled grey">
        <thead>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for='item in channelTable'>
            <td>{{ item['name'] }}</td>
            <td>{{ item['value'] }}</td>
          </tr>
        </tbody>
      </table>  
    </div>

    <div style="text-align:center" v-show="isLoading" class='load2'>
      <img src="../assets/loading.gif">
    </div>
  </div>

  </div>
</template>

<script>
import utils from '../utils/function'
var ECharts = require('vue-echarts')
import Conf from '../conf/conf'
var host = Conf.host
var meterName = Conf.meterName

export default {
    name: 'io',
    components: {
      chart: ECharts
    },
    data(){
      return {
        boards: [
          {id: 1, name: 'main board'},
          {id: 2, name: 'exp1 board'},
          {id: 3, name: 'exp2 board'}
        ],
        channelTable: [],
        isLoading:false,
        pageLoading:true
      }
    },

    methods: {
        channel(boardID){
          this.isLoading = true
          var url = '/api/meters/' + meterName + '/metering/digiinputs/boards/' + boardID
          utils.request('get', url).then((response)=>{
            this.channelTable = response.data
            setTimeout(()=>{this.isLoading = false}, 300) 
          })
        }

    }, 

    computed: { 
  },

    created(){
    },

    mounted() {
    setTimeout(() => {this.pageLoading = false}, 300)
    },

    updated() {
    // $(this.$el).find('.semanticDropDown').dropdown({on: 'hover'})
    $('.ui.dropdown.button')
      .dropdown({
        on: 'hover'
      })     
    }

}
</script>

<style scoped>
.menu.scrolling1 {
  max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden
}
h2{
  margin-left: 15px;
  font-weight: normal;
}
h4{
  display: inline-block;
}
.title{
  padding-top: 5px;
  height:45px;
  background-color: #f5f5f5
}
.content{
  min-height: 700px;
  padding: 20px 150px 0 150px
}
.load{
  min-height: 550px;
  padding:10%;
  text-align: center;
}
.load2{
  min-height: 312.8px
}
.small{
  font-size:65%;
  color: #777;
}
.echarts {
  height: 500px;
  width: 100%;
}
/*#realtime{
  margin-bottom: 450px
}*/
</style>
