<template>
  <div id="settings_meter">
  	<div class="title">
  		<h2><i class='setting icon'></i><span>Settings</span> &nbsp <span class="small"> / Meter</span></h2>
  		<button class="ui positive button tiny">Save</button>
  	</div>

  	<div class="load" v-if="pageLoading">
		<img src="../assets/loading.gif">
	</div>

  	<div class="content" v-if="!pageLoading">
  		<div class="ui raised segment">
  			<h3>Wiring</h3>
    		<radio-input label='Wiring of Three Phase User' :radioList='wiringList' :value='wiring' 
    			name='wiring' @update='update' @clean='clean'>
			</radio-input>
			<h3>CT Model</h3>
			<div class='ui grid container'>
				<div class="three column row">
					<div class='column'>
						<text-input label='Channel 101' :value='channel101' name='channel101' 
							help='' @update='update' @clean='clean' icon='edit icon'>
						</text-input>
					</div>	
					<div class='column'>
						<text-input label='Channel 102' :value='channel101' name='channel101' 
							help='' @update='update' @clean='clean' icon='edit icon'>
						</text-input>
					</div>
					<div class='column'>
						<text-input label='Channel 103' :value='channel101' name='channel101' 
							help='' @update='update' @clean='clean' icon='edit icon'>
						</text-input>
					</div>
				</div>
				<div class="three column row" style='margin-top:20px'>
					<div class='column'>
						<text-input label='Channel 104' :value='channel101' name='channel101' 
							help='' @update='update' @clean='clean' icon='edit icon'>
						</text-input>
					</div>
					<div class='column'>
						<text-input label='Channel 105' :value='channel101' name='channel101' 
							help='' @update='update' @clean='clean' icon='edit icon'>
						</text-input>
					</div>
					<div class='column'>
						<text-input label='Channel 106' :value='channel101' name='channel101' 
							help='' @update='update' @clean='clean' icon='edit icon'>
						</text-input>
					</div>
				</div>
			</div>
		</div>
		<button class="ui positive button save" @click.prevent='send'>Save</button>
	</div>


  </div>
</template>

<script>
import Conf from '../conf/conf'
import radioInput from './elements/radioInput'
import textInput from './elements/textInput'
var host = Conf.host
var meterName = Conf.meterName
var RESTApi = '/api/meters/' + meterName + '/settings/meter/'

export default {
  name: 'settings_meter',
  components: {
  	'radio-input': radioInput,
  	'text-input': textInput
  },
  data: () => ({
  	  pageLoading:true,
  	  updatedData: {},
  	  wiringList: [
  	  	{
  	  		name: '1LN',
  	  		desc: '(One Element/1-Phase-2-Wire)'
  	  	},
  	  	{
  	  		name: '2LN',
  	  		desc: '(Two Elements/1-Phase-3-Wire)'
  	  	},
  	  	{
  	  		name: '3LN',
  	  		desc: '(Three Elements/3-Phase-4-Wire/3-Phase-3-Wire)'
  	  	}
  	  ],

  	  // DB fields
  	  wiring: '',
  	  channel101: ''
  }),

  methods: {
	getData(){
		var self = this
		var token = sessionStorage.token
	    axios({
			method: 'get',
			url: RESTApi,
			headers: {'Authorization': 'JWT '+token},
	    })
	    .then(function (response) {
	    	let data = response.data
	      	self.wiring = '2LN'
	      	self.channel101 = '20'
	    }.bind(self))
	    .catch(function (error) {
	      console.log(error);
	    }); 
	},

	update(name, value){
  		this.updatedData[name] = value
  	},

  	clean(name){
  		delete this.updatedData[name]
  	},

  	send(){
  		if(Object.keys(this.updatedData).length > 0){		 // If nothing's changed then skip 
	  		var self = this
	  		var token = sessionStorage.token
	        axios({
	          method: 'patch',
	          url: host + '/api/meters/' + meterName + '/settings/meter/',
	          headers: {'Authorization': 'JWT '+token},
	          data: self.updatedData
	        })
	        .then(function (response) {
	  			for(let newEach in self.updatedData){
	  				self[newEach] = self.updatedData[newEach]
	  			}
	  			self.updatedData = {}  // Empty updatedData object to prevent uploading the same data again and again
	        	self.$emit('saved')
	        	$(self.$el).find('.unsavedWarm').css('display', 'none')
	        })
	        .catch(function (error) {
	        	self.$emit('error')
				console.log(error)
	        });
  		}else{
	  			$('.save').transition('shake')
	  		}
  	}
  },

  created() {
	    this.getData()
  },

  mounted() {
  	  var self = this
  	  setTimeout(function(){self.pageLoading = false}, 300)
  	  $(self.$el).find('.ui.sticky').sticky()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h2{
	margin-left: 15px;
	font-weight: normal;
	display:inline-block;
}
.title{
	padding-top: 5px;
	height:45px;
	background-color: #f5f5f5
}
.title button{
	float:right;
	margin-right:20px;
	margin-top: 2px
}
.content{
	min-height: 550px;
	padding: 20px 150px 0 150px
}
.load{
	min-height: 550px;
	padding:10%;
	text-align: center;
}
.small{
	font-size:65%;
	color: #777;
}

</style>
