<template>
  <div id="settings_management">
  	<div class="title ui sticky">
  		<h2><i class='setting icon'></i><span>Settings</span> &nbsp <span class="small"> / Management</span></h2>
  		<!-- <button class="ui positive button tiny">Save</button> -->
  	</div>

  	<div class="load" v-if="pageLoading">
		<img src="../assets/loading.gif">
	</div>

  	<div class="content" v-if="!pageLoading">
  		<div class="ui raised segment">
  			<div class="ui grid container">
  					<div class='two column row' style='margin-top:20px'>
  						<div class='column' >
  							<h4 style='opacity:0.7'>Device Clock :</h4>
  						</div>
  						<div class='column' >
  							<h4 style='opacity:0.7'>Live API Token :</h4>
  						</div>
  					</div>

  					<div class="ui divider"></div>

  					<div class='one column row'>
  						<div class='column'>
  							<h3>Reboot Communication Module</h3>
							<button class="ui icon button red circular" @click.prevent='testButton'>
  								<i class="power icon"></i>Reboot
							</button>
  						</div>
  					</div>

  					<div class="ui divider"></div>

					<div class='one column row'>
						<div class='column' >
							<h3>Reset Demand</h3>
							<button class="ui icon button primary" @click.prevent='ResetDemand'>
									<i class="refresh icon"></i>Reset
							</button>
						</div>
					</div>
					<div class="ui divider"></div>
					<div class='one column row'>
						<div class='column' >
							<h3>Reset Energy</h3>
							<button class="ui icon button primary" 
								@click.prevent='ResetEnergy'>
								<i class="refresh icon"></i>Reset
							</button>
						</div>
					</div>
					<div class="ui divider"></div>
					<div class='one column row'>
						<div class='column'>
							<h3>Reset Alarm Record</h3>
							<button class="ui icon button primary" 
								@click.prevent='ResetAlarmRecord'>
								<i class="refresh icon"></i>Reset
							</button>
						</div>
					</div>
					<div class="ui divider"></div>
					<div class='one column row'>
						<div class='column'>
							<h3>Reset Device Run Time</h3>
							<button class="ui icon button primary" 
								@click.prevent='ResetDeviceRunTime'>
								<i class="refresh icon"></i>Reset
							</button>
						</div>								
					</div>
					<div class="ui divider"></div>

					<div class='one column row'>
						<div class='column'>
							<h3>Reset Admin Password</h3>
							<div class="ui action input" style='float:right;margin-right:20%'>							
							  	<input type="password" placeholder="Enter new password">
							  	<button class="ui button primary">Save</button>
							</div>
						</div>
					</div>
					<div class="ui divider"></div>
					<div class='one column row'>
						<div class='column' >
							<h3 >Reset View Password</h3>
							<div class="ui action input" style='float:right;margin-right:20%'>
							  <input type="password" placeholder="Enter new password">
							  <button class="ui button primary">Save</button>
							</div>
						</div>
					</div>

					<div class="ui divider"></div>

					<div class='one column row'>
						<div class='column'  style='text-align:center'>
						<button class="ui positive button">
							<i class="download icon"></i>
							Download Logfile
						</button>
						</div>
					</div>

			</div>
		</div>
		<!-- <button class="ui positive button tiny save" @click.prevent='send'><i class='icon save'></i>Save</button> -->
	</div>


  </div>
</template>

<script>
import Conf from '../conf/conf'
import radioInput from './elements/radioInput'
import textInput from './elements/textInput'
var host = Conf.host
var meterName = Conf.meterName
var RESTApi = '/api/meters/' + meterName + '/settings/meter/'

export default {
  name: 'settings_meter',
  components: {
  	'radio-input': radioInput,
  	'text-input': textInput
  },
  data: () => ({
  }),

  methods: {
  },

  created() {
  },

  mounted() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h2{
	margin-left: 15px;
	font-weight: normal;
	display:inline-block;
}
h4{
	display: inline-block;
}
h3{
	display: inline-block;
	margin-left: 20%
}
.title{
	padding-top: 5px;
	height:45px;
	background-color: #f5f5f5
}
.title button{
	float:right;
}
.content{
	min-height: 550px;
	padding: 20px 150px 0 150px
}
.load{
	min-height: 550px;
	padding:10%;
	text-align: center;
}
.small{
	font-size:65%;
	color: #777;
}

.title.fixed.top + .content {
   margin-top: 55px;
}
.ui.icon.button{
	float:right;
	margin-right: 20%
}

</style>
