<template>
  <div id="settings_communications">
  		<div class="ui inverted dimmer">
			<div class="ui text loader large"><b>Saving...</b></div>
		</div>
  		<!-- ALERT MODAL -->
	  	<div class="success coupled modal">
		    <div class="ui tiny modal first">
				<div class="header" style='background-color:#4dc655;color:#fff'>
				<i class="check circle  icon large" ></i>&nbspSaved successfully!
				</div>
				<i class="close icon"></i>
				<div class='modalContent'>
					<h3>Do you want to reboot the meter now?</h3>
				</div>
				<div class="actions">
					<div class="ui approve button primary">Reboot Now</div>
					<div class="ui cancel button ">Reboot Later</div>
				</div>
			</div>

			<div class="ui tiny modal second">
				<i class="close icon"></i>
				<div class="header" style='background-color:#2185d0;color:#fff'>
				<i class="info circle icon large" ></i>&nbspReboot Info
				</div>
				<div class='modalContent'>
					<h3>You can reboot Module from 'Settings->Management' Page</h3>
				</div>
				<div class="actions">
					<div class="ui approve button primary">OK</div>
				</div>
			</div>

			<div class="ui tiny modal third">
				<i class="close icon"></i>
				<div class="header" style='background-color:#2185d0;color:#fff'>
				<i class="info circle icon large" ></i>&nbspRebooting...<div class="ui small loader"></div>				
				</div>
				<div class='modalContent'>
					<h3>Please wait and refresh your browser</h3>
				</div>
				<div class="actions">
					<div class="ui approve button primary">OK</div>
				</div>
			</div>
		</div>

		<div class="ui tiny modal fail">
			<i class="close icon"></i>
			<div class="header" style='background-color:#ce0006;color:#fff'>
			<i class="info circle icon large" ></i>&nbsp Fail to save!
			</div>
			<div class='modalContent'>
				<h3 v-if='invalidNum!=0'>You have &nbsp <span style='color:red'>{{invalidNum}}</span> &nbsp invalid input. Please correct them and retry.</h3>
				<h3 v-else>Please check your configuration or contact us</h3>
			</div>
			<div class="actions">
				<div class="ui approve button ">OK</div>
			</div>
		</div>

		
	<div class='main'>
	  	<div class="title ui sticky commu" id='myHeader'>
	  		<h2><i class='setting icon'></i><span>Settings</span> <span class="small"> / Communications</span></h2>
	  		<button class="ui positive button tiny save" @click='send'>Save</button>
	  	</div>

	  	<div class="load" v-if="pageLoading">
			<img src="../assets/loading.gif">
		</div>

	  	<div class='content' v-show='!pageLoading' id='myContext'>
			<div class="ui secondary menu">
				<a v-for='(tag, index) in tags' class="item" @click="pick(index)" :class="{'active': pickedTag==index}">
					{{tag}}
				</a>
			</div>

			<!-- <div class="ui active inline loader large" v-show='!loaded'></div> -->
			<component ref='child' :is='pickedModule' @changed='valueChanged' @unchanged='valueUnchanged' @error='errorAlert' @saved='savedAlert' @updatedData='updatedData' @loaderOn='loaderOn' @loaderOff='loaderOff' @completed='completed'>
			</component>

		</div>

		<div class="ui negative message" v-show='changedNum > 0 && switchTab'>
		  	<i class="close icon"></i>
		  	<div class="header">
		    	Save to continue !
		  	</div>
		  	<ul class='list' style='margin-top:17px'>
		  		<li>You have <b>{{changedNum}}</b> unsaved items <i class="exclamation icon circle large" ></i></li>
		  	</ul>
		</div>
	</div>

  </div>
</template>

<script>
import Conf from '../conf/conf'
import Wifi from './Settings_Communications/wifi'
import Ethernet from './Settings_Communications/ethernet'
import ntptime from './Settings_Communications/ntptime'
import httpserver from './Settings_Communications/httpserver'
import smtp from './Settings_Communications/smtp'
import modbus from './Settings_Communications/modbus'
import datalog from './Settings_Communications/datalog'

import Network from './Settings_Communications/network'
import Email from './Settings_Communications/email'
import Time from './Settings_Communications/time'
import Datalog from './Settings_Communications/datalog'
import Http from './Settings_Communications/http'
import Cloud from './Settings_Communications/cloud'
import Dnp3 from './Settings_Communications/dnp3'
var host = Conf.host

export default {
  name: 'settings_communications',
  components: {
  		'wifiModule': Wifi,
  		'ethernetModule': Ethernet,
  		'ntptimeModule': ntptime,
  		'httpserverModule': httpserver,
  		'smtpModule': smtp,
  		'modbusModule': modbus,
  		'datalogModule': datalog,

  		'networkModule': Network,
  		'emailModule': Email,
  		'timeModule': Time,
  		'datalogModule': Datalog,
  		'httpModule': Http,
  		'cloudModule': Cloud,
  		'dnp3Module': Dnp3
  },
  data(){
  	return{
  		loaded: false,
  		sendData: {},
  		sendUrl: '',
  		pageLoading:true,
  	    pickedTag: 'datalog',
  	    pickedModule: 'datalogModule',
  	    tags:{
	  	  	wifi: 'Wi-Fi',
	  	  	ethernet: 'Ethernet',
	  	  	ntptime: 'NTP Time',
	  	  	httpserver: 'Http Server',
	  	  	smtp: 'SMTP',
	  	  	modbus: "Modbus",
	  	  	datalog: "Datalog",
	  	  	// network: 'Network',
	  	  	// email: 'Email',
	  	  	// time: 'Time/Date',
	  	  	// datalog: 'Datalog',
	  	  	// http: 'HTTP/FTP Post',
	  	  	// cloud: 'AcuCloud Post',
	  	  	// dnp3: 'DNP3'
  	  	},
  	  	changedNum: 0,
  	  	switchTab: false,
  	  	invalidNum: 0
  	}
  },

  methods: {
  	pick(name){
  		this.loaded = false
  		if(this.changedNum > 0){
  			this.switchTab = true
  			$('.ui.negative').transition('slide down')
  			setTimeout(()=>{
  				$('.ui.negative').transition('slide down')
  			}, 1500)
  		}else{
  			this.pickedTag = name;
  			this.pickedModule = name + 'Module'
  		}
  	},
  	valueChanged(){
		this.changedNum += 1
  	},
  	valueUnchanged(){
  		this.changedNum != 0 ? this.changedNum -= 1 : {}
  	},
  	savedAlert(){
  		this.changedNum = 0
  		$('.coupled.modal').modal({allowMultiple: false})
		$('.second.modal').modal({duration: 200}).modal('attach events', '.first.modal .cancel')
		$('.third.modal').modal({duration: 200}).modal('attach events', '.first.modal .approve')
		$('.first.modal').modal({
			duration: 300,
			onApprove : function() {
		    }
		}).modal('show')
	},
	errorAlert(invalidNum=0){
		$('.fail.modal').modal({duration: 300}).modal('show')
		this.invalidNum = invalidNum
	},
	loaderOn(){
		$('.ui.dimmer.inverted').dimmer('show').dimmer({'closable': false})
	},
	loaderOff(){
		$('.ui.dimmer.inverted').dimmer('hide').dimmer({'closable': false})
	},
	updatedData(data, url){
		this.sendData = data
		this.sendUrl = url
	},
	send(){
		this.$refs.child.send()
	},
	completed(){
		this.loaded = true
	}
  },

	mounted() {
  		var self = this
  		self.pageLoading = false
		$('#app').on("scroll", function () {
			var scrollTop = $(this).scrollTop();
			if(scrollTop >= 41){
				$('.ui.title.commu').addClass('fixed')
			}else{
				$('.ui.title.commu').removeClass('fixed')
			}
		});
	}
}
</script>

<style scoped>
h2{
	margin-left: 15px;
	font-weight: normal;
	display:inline-block;
}
.title{
	padding-top: 5px;
	height:45px;
	background-color: #f5f5f5
}
.fixed{
	position: fixed;
	top:0;
	width:99.3%;
}
.title button{
	float:right;
	margin-right:20px;
	margin-top: 2px
}
.fixed{
	position:fixed;
}
.content{
	min-height: 700px;
	padding: 20px 150px 0 150px
}
.load{
	min-height: 550px;
	padding:10%;
	text-align: center;
}
.small{
	font-size:65%;
	color: #777;
}
.ui.secondary.menu a.item{
  color: #088c91;
}
.ui.secondary.menu a.item.active{
	background-color: #088c91;
	color:white;
}
.modalContent{
	/*height: 100px;*/
	padding-top:30px;
	padding-bottom: 30px;
	padding-left: 20px;
	margin: auto;
}
.modal{
	top:200px;
}
.ui.modal .header{
	padding:1rem 1.5rem;
}
i.large.icon, i.large.icons{
	vertical-align: sub!important;
}
.ui.loader{
	position: absolute;
	top:14%;
	left:35%;
}
#myHeader.fixed + #myContext {
   margin-top: 47px;
}
.ui.negative{
	padding-top:11px;
	width:50%;
	height:80px;
	margin-left: 27%;
	top: 10px;
	position:absolute;
	z-index:999;
}
.ui.dimmer{
	position: fixed;
	z-index:999;
}
.ui.loader{
	top: 40%;
	left:50%;
}
</style>
