<template>
  <div id="settings_meter">
  	<div class="title">
  		<h2><i class='setting icon'></i><span>Settings</span> &nbsp <span class="small"> / Firmware</span></h2>
  	</div>

  	<div class="load" v-if="pageLoading">
		<img src="../assets/loading.gif">
	</div>

  	<div class="content" v-if="!pageLoading">
  		<div class="ui raised segment">
  			<div class='one column row' style="margin-bottom:30px;margin-left:10px">
  				<div class='column'>
  					<h4>Choose firmware file to upload</h4>
  					<input type="file" name="file" ref="file">
  				</div>
  			</div>
  			<button class="ui primary button" @click.prevent='upload'><i class='icon upload'></i>Upload</button>
		</div>	
	</div>


  </div>
</template>

<script>
import Conf from '../conf/conf'
var host = Conf.host
var meterName = Conf.meterName
var RESTApi = '/api/meters/' + meterName + '/settings/firmware/1/'

export default {
  data: () => ({
  	  pageLoading:true,
  	  updatedData: {},
  }),

  methods: {
  	upload(){
  		var file = $(this.$el).find('input').val()
  		if(file){
  				var self = this
		  		var token = sessionStorage.token
		  		var formData = new FormData()
		  		formData.append('firmware', this.$refs.file.files[0])
		  		formData.append('id', 1)
		        axios({
		          	method: 'put',
		          	url: RESTApi,
		          	headers: {'Authorization': 'JWT '+token, 'Content-Type': 'multipart/form-data'},
		          	data: formData,
		          	onUploadProgress: function(e) {
				        let percentage = Math.round((e.loaded * 100) / e.total) || 0
				        console.log(e, percentage)
				    }
		        })
		        .then(function (response) {
		        	alert('ok')
		        })
		        .catch(function (error) {
		        	alert('fail to upload')
					console.log(error)
		        });
  		}else{
  			alert('plz choose a file')
  		}
  	}
  },
  created(){
  	var self = this
  	setTimeout(function(){
  		self.pageLoading = false
  	}, 300)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h2{
	margin-left: 15px;
	font-weight: normal;
	display:inline-block;
}
.title{
	padding-top: 5px;
	height:45px;
	background-color: #f5f5f5
}
.title button{
	float:right;
}
.content{
	min-height: 550px;
	padding: 20px 150px 0 150px
}
.load{
	min-height: 550px;
	padding:10%;
	text-align: center;
}
.small{
	font-size:65%;
	color: #777;
}

.title.fixed.top + .content {
   margin-top: 55px;
}
</style>
