<template>
  <div id="deviceInfo">
  	<div class="title">
  		<h2>
  			<i class='info circle icon'></i>
  			<span>Device Information</span> &nbsp 
  			<!-- <span style='margin-left:30%;color:#088c91'><i>Info</i></span> -->
  		</h2>
  	</div>

	<div class="load" v-if="pageLoading">
		<img src="../assets/loading.gif">
	</div>

	<div class="content" v-if="!pageLoading">
		<table class="ui striped table selectable celled grey">
		  	<thead>
		    	<tr>
					<th>Name</th>
					<th>Value</th>
		    	</tr>
		  	</thead>  		
		  	<tbody>
			    <tr v-for='item, index in table'>
					<td>{{ index }}</td>
					<td>{{ item }}</td>
			    </tr>
		  	</tbody>
		</table>	
	</div>

  </div>
</template>

<script>
import utils from '../utils/function'
import Conf from '../conf/conf'
var meterName = Conf.meterName

export default {
  	name: 'deviceInfo',
  	data(){
	  	return {
	  		table:{},
	  		isLoading:false,
	  		pageLoading:true
	  	}
  	},

  	methods: {
    }, 

   	computed: { 
	},

  	created(){
  		var url = '/api/meters/' + meterName + '/settings/deviceinfo'
  		utils.request('get', url).then((response)=>{
  			this.table = response.data
  		})
  	},

  	mounted() {
		setTimeout(() => {this.pageLoading = false}, 300)
  	},

  	updated() {     
  	}

}
</script>

<style scoped>
.menu.scrolling1 {
	max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden
}
h2{
	margin-left: 15px;
	font-weight: normal;
}
h4{
	display: inline-block;
}
.title{
	padding-top: 5px;
	height:45px;
	background-color: #f5f5f5
}
.content{
	min-height: 700px;
	padding: 20px 150px 0 150px
}
.load{
	min-height: 550px;
	padding:10%;
	text-align: center;
}
.load2{
	min-height: 312.8px
}
.small{
	font-size:65%;
	color: #777;
}
.echarts {
  height: 500px;
  width: 100%;
}
/*#realtime{
	margin-bottom: 450px
}*/
</style>
