<template>
  <div id="network">

  	<div class="load" v-show="pageLoading">
		<img src="../../assets/loading.gif">
	</div>

	<div class='content' v-show="!pageLoading">
	  	<div class="ui raised segment">
	  		<div class='dhcpSwitch'>
	  				<switch-input label='AcuCloud Reporting' :value='cloudEnable' name='cloudEnable' 
		  				icon='power icon' @update='update' @clean='clean' @switcher='cloudSwitch' :unsaved='unsaved'>
		  			</switch-input>
			</div>

			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

			<div class='cloudSetting' v-show='cloudEnable'>
				<div class="ui grid container">
					<div class='two column row'>
						<div class='column'>
							<text-input label='AcuCloud URL' :value='cloudUrl' name='cloudUrl' help='' @update='update' @clean='clean' width='width:80%' :unsaved='unsaved'>
							</text-input>
							<a href="https://acucloud.accuenergy.com">Link to AcuCloud</a>
						</div>
						<div class='column'>
							Module Serial Number: {{moduleSM}}  <button class="ui primary button tiny">Copy</button>
						</div>
					</div>

					<div class='two column row'>
						<div class='column'>
							<text-input label='AcuCloud Token' :value='token' name='token' help='' @update='update' @clean='clean' icon='edit icon' :unsaved='unsaved'>
							</text-input>
						</div>
						<div class='column' style='margin-left:-6%'>
							<div class="ui grid container">
								<div class='eight wide column'>
									<h4>Test AcuCloud</h4>
									<button class="ui labeled icon button primary" @click.prevent='testButton'>
  										<i class="treatment icon"></i>Test
									</button>
								</div>
								<div class='eight wide column'>
									<h4>Clear AcuCloud Post Logs</h4>
									<button class="ui labeled icon button positive" 
										@click.prevent='clearLogsButton'>
										<i class="erase icon"></i>Clear
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			

		</div>
		<button class="ui positive button save" @click.prevent='send'>Save</button>

	</div>
  </div>
</template>

<script>
import Conf from '../../conf/conf'
import textInput from '../elements/textInput'
import switchInput from '../elements/switchInput'
import utils from '../../utils/function'
var host = Conf.host
var meterName = Conf.meterName
var RESTApi = '/api/meters/' + meterName + '/settings/communications/'


export default {
	name: 'network',
	components:{
	  	'text-input': textInput,
	  	'switch-input': switchInput
	},

	data(){
	  	return {
	  		pageLoading:true,
	  		updatedData: {},
	  		unsaved: [],

	  		// DB fields
			cloudEnable: '',
			cloudUrl: '',
			moduleSM: '',
			token: ''		
	  	}		
	},

	methods: {
		getData(){
			utils.request('get', '/api/meters/' + meterName + '/settings/communications/')
			.then((response)=>{
		      	this.cloudEnable = response.data.cloudEnable
		      	this.cloudUrl = response.data.cloudUrl
		      	this.moduleSM = 'EH15126067'
		      	this.token = '11111111'
			})
			.catch((error)=>{
				console.log(error)
			})
		},

	  	update(name, value){
	  		utils.update(this, name, value, RESTApi)
	  	},

	  	clean(name){
	  		utils.clean(this, name)
	  	},

	  	cloudSwitch(){
	  		$(this.$el).find('.cloudSetting').transition('slide down')
	  	},

	  	send(){
	  		var url = '/api/meters/' + meterName + '/settings/communications/'
	  		utils.send(this, 'patch', url)
	  	},

	  	testButton(){},
	  	clearLogsButton(){}
	},

	created() {
	    this.getData()
	},

	mounted() {
		setTimeout(()=>{this.pageLoading = false}, 300)
	}
}

</script>

<style scoped>
.two.column.row{
	margin-left:5%
}
.load{
	min-height: 500px;
	padding:10%;
	text-align: center;
}
</style>