<template>
  <div id="datalog">

<!--   	<div class="load" v-show="pageLoading">
		<div class="ui active inline loader large"></div>
	</div> -->

	<div class='content'>
		<div class="ui raised segment">
			<switch-input label='Datalog 1 Enable' :value='datalog1.enable' name='datalog1.enable' icon='' @update='update' @clean='clean' :unsaved='unsaved' @switcher='datalog1enableSwitch'>
		  	</switch-input>
			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

			<div class="ui grid container datalog1enableSwitch" v-show='datalog1.enable'>
				<div class="five wide column">
						<switch-input label='backupEnable' :value='datalog1.backupEnable' name='datalog1.backupEnable' icon='' @update='update' @clean='clean' :unsaved='unsaved'>
	  					</switch-input>
				</div>

				<div class="five wide column">
						<dropdown-input label='backupFileFormat' :dropdownList='backupFileFormatList' :value='datalog1.backupFileFormat' name='datalog1.backupFileFormat' classname='datalog1backupFileFormat' :unsaved='unsaved' @update='update' @clean='clean' icon=''>
						</dropdown-input>
				</div>

				<div class="five wide column">
						<dropdown-input label='backupFileLength' :dropdownList='backupFileLengthList' :value='datalog1.backupFileLength' name='datalog1.backupFileLength' classname='datalog1backupFileLength' :unsaved='unsaved' @update='update' @clean='clean' icon=''>
						</dropdown-input>
				</div>
				<div class='sixteen wide column'></div>
				<div class="five wide column">
						<text-input label='backupFilePrefix' :value='datalog1.backupFilePrefix' name='datalog1.backupFilePrefix' help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' @error='vError'>
						</text-input>
				</div>

				<div class="five wide column">
						<dropdown-input label='logInterval' :dropdownList='backupFileLengthList' :value='datalog1.logInterval' name='datalog1.logInterval' classname='datalog1logInterval' :unsaved='unsaved' @update='update' @clean='clean' icon=''>
						</dropdown-input>
				</div>

				<div class="five wide column">
						<time-input label='Log Start Time' :value='datalog1.logTimeStart' name='datalog1.logTimeStart' @update='update' @clean='clean' :unsaved='unsaved' classname='datalog1logTimeStart'>
						</time-input>
				</div>
				<div class='sixteen wide column'></div>
				<div class="nine wide column">
						<dropdown-input label='Param IDs' :dropdownList='paramIdsList' :value='datalog1.paramIds' name='datalog1.paramIds' classname='datalog1paramIds' :unsaved='unsaved' @update='update' @clean='clean' icon='' multiple='true'>
						</dropdown-input>
				</div>

			</div>
		</div>

		<div class="ui raised segment">
			<switch-input label='Datalog 2 Enable' :value='datalog2.enable' name='datalog2.enable' icon='' @update='update' @clean='clean' :unsaved='unsaved' @switcher='datalog2enableSwitch'>
		  	</switch-input>
			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

			<div class="ui grid container datalog2enableSwitch" v-show='datalog2.enable'>
				<div class="five wide column">
						<switch-input label='backupEnable' :value='datalog2.backupEnable' name='datalog2.backupEnable' icon='' @update='update' @clean='clean' :unsaved='unsaved'>
	  					</switch-input>
				</div>

				<div class="five wide column">
						<dropdown-input label='backupFileFormat' :dropdownList='backupFileFormatList' :value='datalog2.backupFileFormat' name='datalog2.backupFileFormat' classname='datalog2backupFileFormat' :unsaved='unsaved' @update='update' @clean='clean' icon=''>
						</dropdown-input>
				</div>

				<div class="five wide column">
						<dropdown-input label='backupFileLength' :dropdownList='backupFileLengthList' :value='datalog2.backupFileLength' name='datalog2.backupFileLength' classname='datalog2backupFileLength' :unsaved='unsaved' @update='update' @clean='clean' icon=''>
						</dropdown-input>
				</div>
				<div class='sixteen wide column'></div>
				<div class="five wide column">
						<text-input label='backupFilePrefix' :value='datalog2.backupFilePrefix' name='datalog2.backupFilePrefix' help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' @error='vError'>
						</text-input>
				</div>

				<div class="five wide column">
						<dropdown-input label='logInterval' :dropdownList='backupFileLengthList' :value='datalog2.logInterval' name='datalog2.logInterval' classname='datalog2logInterval' :unsaved='unsaved' @update='update' @clean='clean' icon=''>
						</dropdown-input>
				</div>

				<div class="five wide column">
						<time-input label='Log Start Time' :value='datalog2.logTimeStart' name='datalog2.logTimeStart' @update='update' @clean='clean' :unsaved='unsaved' classname='datalog2logTimeStart'>
						</time-input>
				</div>
				<div class='sixteen wide column'></div>
				<div class="nine wide column">
						<dropdown-input label='Param IDs' :dropdownList='paramIdsList' :value='datalog2.paramIds' name='datalog2.paramIds' classname='datalog2paramIds' :unsaved='unsaved' @update='update' @clean='clean' icon='' multiple='true'>
						</dropdown-input>
				</div>

			</div>
		</div>

		<div class="ui raised segment">
			<switch-input label='Datalog 3 Enable' :value='datalog3.enable' name='datalog3.enable' icon='' @update='update' @clean='clean' :unsaved='unsaved' @switcher='datalog3enableSwitch'>
		  	</switch-input>
			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

			<div class="ui grid container datalog3enableSwitch" v-show='datalog3.enable'>
				<div class="five wide column">
						<switch-input label='backupEnable' :value='datalog3.backupEnable' name='datalog3.backupEnable' icon='' @update='update' @clean='clean' :unsaved='unsaved'>
	  					</switch-input>
				</div>

				<div class="five wide column">
						<dropdown-input label='backupFileFormat' :dropdownList='backupFileFormatList' :value='datalog3.backupFileFormat' name='datalog3.backupFileFormat' classname='datalog3backupFileFormat' :unsaved='unsaved' @update='update' @clean='clean' icon=''>
						</dropdown-input>
				</div>

				<div class="five wide column">
						<dropdown-input label='backupFileLength' :dropdownList='backupFileLengthList' :value='datalog3.backupFileLength' name='datalog3.backupFileLength' classname='datalog3backupFileLength' :unsaved='unsaved' @update='update' @clean='clean' icon=''>
						</dropdown-input>
				</div>
				<div class='sixteen wide column'></div>
				<div class="five wide column">
						<text-input label='backupFilePrefix' :value='datalog3.backupFilePrefix' name='datalog3.backupFilePrefix' help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' @error='vError'>
						</text-input>
				</div>

				<div class="five wide column">
						<dropdown-input label='logInterval' :dropdownList='backupFileLengthList' :value='datalog3.logInterval' name='datalog3.logInterval' classname='datalog3logInterval' :unsaved='unsaved' @update='update' @clean='clean' icon=''>
						</dropdown-input>
				</div>

				<div class="five wide column">
						<time-input label='Log Start Time' :value='datalog3.logTimeStart' name='datalog3.logTimeStart' @update='update' @clean='clean' :unsaved='unsaved' classname='datalog3logTimeStart'>
						</time-input>
				</div>
				<div class='sixteen wide column'></div>
				<div class="nine wide column">
						<dropdown-input label='Param IDs' :dropdownList='paramIdsList' :value='datalog3.paramIds' name='datalog3.paramIds' classname='datalog3paramIds' :unsaved='unsaved' @update='update' @clean='clean' icon='' multiple='true'>
						</dropdown-input>
				</div>

			</div>
		</div>

		<button class="ui positive button save" @click.prevent='send'>Save</button>

	</div>
  </div>
</template>

<script>
import Conf from '../../conf/conf'
import textInput from '../elements/textInput'
import switchInput from '../elements/switchInput'
import timeInput from '../elements/timeInput'
import dropdownInput from '../elements/dropdownInput'
import utils from '../../utils/function'
var meterName = Conf.meterName
var url = '/api/meters/' + meterName + '/settings/communications/datalog'

export default {
	name: 'network',
	components:{
	  	'text-input': textInput,
	  	'dropdown-input': dropdownInput,
	  	'switch-input': switchInput,
	  	'time-input': timeInput
	},

	data(){
	  	return {
	  		pageLoading:true,
	  		originalData: {},
	  		updatedData: {},
	  		unsaved: [],
	  		validationError: [],
	  		backupFileFormatList: {
	  			0: 'axm_net',
	  			1: 'internal'
	  		},
	  		backupFileLengthList: {
	  			0: "15 seconds",
	  			1: "1 minute",
	  			2: "5 minutes",
	  			3: "10 minutes",
	  			4: "15 minutes",
	  			5: "30 minutes",
	  			6: "1 hour",
	  			7: "6 hours",
	  			8: "12 hours",
	  			9: "1 day",
	  			10: "3 days",
	  			11: "7 days",
	  			12: "1 month"
	  		},
	  		paramIdsList: [4096, 8192, 6, 5, 4, 88888],

	  		// DB fields
	  		datalog1: {
	  			enable: '',
	  			backupEnable: '',
	  			backupFileFormat: '',
	  			backupFileLength: '',
	  			backupFilePrefix: '',
	  			logInterval: '',
	  			logTimeStart: '',
	  			loggerId: '',
	  			paramIds: [],
	  			postChanIds: [],
	  			postFileFormat: '',
	  			postFileLength: '',
	  			postFilePrefix: '',
	  			timeFormat: ''
	  		},

	  		datalog2: {
	  			enable: '',
	  			backupEnable: '',
	  			backupFileFormat: '',
	  			backupFileLength: '',
	  			backupFilePrefix: '',
	  			logInterval: '',
	  			logTimeStart: '',
	  			loggerId: '',
	  			paramIds: [],
	  			postChanIds: [],
	  			postFileFormat: '',
	  			postFileLength: '',
	  			postFilePrefix: '',
	  			timeFormat: ''
	  		},

	  		datalog3: {
	  			enable: '',
	  			backupEnable: '',
	  			backupFileFormat: '',
	  			backupFileLength: '',
	  			backupFilePrefix: '',
	  			logInterval: '',
	  			logTimeStart: '',
	  			loggerId: '',
	  			paramIds: [],
	  			postChanIds: [],
	  			postFileFormat: '',
	  			postFileLength: '',
	  			postFilePrefix: '',
	  			timeFormat: ''
	  		},

	  		// validate
	  		ip_validate: {
	  			required: true,
	  			ip: true
	  		},
	  		length_validate: {
	  			required: true,
	  			minLength: 6000,
	  			maxLength: 9999
	  			// default: 443
	  		}
	  	}
	},

	methods: {
		getData(){
			utils.request('get', url)
			.then((response)=>{
				this.originalData = response.data
				for(let index in response.data){
					var loggerID = response.data[index].loggerId
					this['datalog'+ loggerID].enable = response.data[index].enable
					this['datalog'+ loggerID].backupEnable = response.data[index].backupEnable
					this['datalog'+ loggerID].backupFileFormat = response.data[index].backupFileFormat
					this['datalog'+ loggerID].backupFileLength = response.data[index].backupFileLength
					this['datalog'+ loggerID].backupFilePrefix = response.data[index].backupFilePrefix
					this['datalog'+ loggerID].logInterval = response.data[index].logInterval
					this['datalog'+ loggerID].logTimeStart = response.data[index].logTimeStart
					this['datalog'+ loggerID].loggerId = response.data[index].loggerId
					this['datalog'+ loggerID].paramIds = response.data[index].paramIds
					this['datalog'+ loggerID].postChanIds = response.data[index].postChanIds
					this['datalog'+ loggerID].postFileFormat = response.data[index].postFileFormat
					this['datalog'+ loggerID].postFileLength = response.data[index].postFileLength
					this['datalog'+ loggerID].postFilePrefix = response.data[index].postFilePrefix
					this['datalog'+ loggerID].timeFormat = response.data[index].timeFormat
				}
			})
			.catch((error)=>{
				console.log(error)
			})
		},

	  	update(name, value){
	  		utils.update(this, name, value, url)
	  	},

	  	clean(name){
	  		utils.clean(this, name)
	  	},

	  	datalog1enableSwitch(){
	  		$('.datalog1enableSwitch').transition('slide down')
	  	},

	  	datalog2enableSwitch(){
	  		$('.datalog2enableSwitch').transition('slide down')
	  	},

	  	datalog3enableSwitch(){
	  		$('.datalog3enableSwitch').transition('slide down')
	  	},

	  	send(){
	  		if(this.validationError.length != 0){
	  			this.$emit('error', this.validationError.length)
	  		}else{
	  			utils.send(this, 'patch', url)
	  		}
	  	},

	  	vError(name, status){
	  		if(status == true){
	  			if(this.validationError.indexOf(name) == -1){
	  				this.validationError.push(name)
	  			}
	  		}else{
	  			if(this.validationError.indexOf(name) != -1){
	  				this.validationError.splice(this.validationError.indexOf(name), 1)
	  			}
	  		}
	  	}
	},

	created() {
	    this.getData()
	},
	mounted() {
		// setTimeout(()=>{this.pageLoading = false}, 400)
		this.$emit('completed')
	}
}

</script>

<style scoped>
.ui.grid.container{
	text-align: left;
	padding-left: 3%;
	margin-top: 1%;
	margin-bottom: 1%
}
.load{
	min-height: 500px;
	padding:10%;
	text-align: center;
}
</style>