<template>
  <div id="dnp3">
    <div class="load" v-show="pageLoading">
      <img src="../../assets/loading.gif">
    </div>

    <div class='content' v-show="!pageLoading">
      <div class="ui raised segment">
          <dropdown-input label='DNP3 Point Configure' :dropdownList='tableList' :value='tableValue' name='wifiMode' @changeValue='changeTable' display='inline-block' :unsaved='unsaved'>
         </dropdown-input>

          <div style='margin-top:20px'>
            <table id="example" class="ui celled table" cellspacing="0" width="100%"></table>
          </div>
      </div>
      
      <button class="ui positive button save" @click.prevent='send'>Save</button>
    </div>
  </div>
</template>
<script>
import textInput from '../elements/textInput'
import dropdownInput from '../elements/dropdownInput'
import switchInput from '../elements/switchInput'
import utils from '../../utils/function'

export default {
    components:{
      'text-input': textInput,
      'dropdown-input': dropdownInput,
      'switch-input': switchInput
    },

    data: function () {
      return {
        pageLoading: true,
        unsaved: [],
        tableList: ['test1', 'test2'],
        tableValue: '',
        updatedDataList: [],
        updateStatus: false,
        thead: [],
        test1Columns: [
            { title: "ID", data: "id"},
            { title: "Name", data: "name" },
            { title: "Position", data: "position" },
            { title: "Office", data: "office" },
            { title: "Age", data: "age" }
        ],
        test2Columns: [
            { title: "ID", data: "id"},
            { title: "Name", data: "name" },
            { title: "Position", data: "position" },
            { title: "Office", data: "office" },
            { title: "Age", data: "age" },
            { title: "Gender", data: "gender" },
            { title: "Country", data: "country" }
        ]
      }
    },

    methods: {
      changeTable(value){
          if(!this.updateStatus){
            var self = this
            $('#example').DataTable().destroy()
            $('#example').html('') 
            this.thead = []    
            $('#example').DataTable({
                "sAjaxSource": "/api/" + value,
                "sAjaxDataProp": "[]",
                order: [[ 0, 'asc' ]],
                columns: this[value+'Columns']
            })

            $('#example thead tr th').each(function(){
              self.thead.push($(this).html())
             })

            $('#example').on( 'blur', 'tbody td:not(:first-child)', function (e) {
                self.updatedDataList = []
                $(this).html($(this).find('input').val())
                $('#example tbody tr').each(function(itr){
                    var row = {}
                    $(this).find('td').each(function(itd){
                        row[self.thead[itd]] = $(this).html()
                    })
                    self.updatedDataList.push(row)
                })
                console.log(self.updatedDataList)

            })
          }else{
            alert('Please save')
          }
            
      },

      send(){
        alert(this.updatedDataList)
        console.log(this.updatedDataList)
        this.updateStatus = false
      }
    },

    created(){
      this.tableValue = 'test1'
    },

    mounted(){
        var self = this
        $('#example').DataTable({
            // dom: "Bfrtip",
            "sAjaxSource": "/api/test1",
            "sAjaxDataProp": "[]",
            order: [[ 0, 'asc' ]],
            columns: this.test1Columns
        })


      $('#example').on( 'click', 'tbody td:not(:first-child)', function (e) {
        if($(this).html().indexOf('input') < 0){
          $(this).html('<input type="text" value='+$(this).html()+'>')
          $(this).find('input').focus()
        }    
      })

      $('#example').on( 'change', 'tbody td:not(:first-child)', function (e) {
          self.updateStatus = true  
      })

      $('#example thead tr th').each(function(){
          self.thead.push($(this).html())
      })

      $('#example').on( 'blur', 'tbody td:not(:first-child)', function (e) {
          self.updatedDataList = []
          $(this).html($(this).find('input').val())
          $('#example tbody tr').each(function(itr){
              var row = {}
              $(this).find('td').each(function(itd){
                  row[self.thead[itd]] = $(this).html()
              })
              self.updatedDataList.push(row)
          })
      })

      setTimeout(() => {this.pageLoading = false}, 300)
    }


}
</script>

<style scoped>
.load{
  /*min-height: 500px;*/
  padding:10%;
  text-align: center;
}
</style>