<template>
  <div id="dnsproxy">

  	<div class="load" v-show="pageLoading">
		<div class="ui active inline loader large"></div>
	</div>

	<div class='content' v-show="!pageLoading">
		<div class="ui raised segment">
			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>
			<div class="ui grid container">
				<div class="five wide column">
						<switch-input label='Enable' :value='enable' name='enable' icon='' @update='update' @clean='clean' :unsaved='unsaved'>
		  				</switch-input>
				</div>

				<div class="five wide column">
						<switch-input label='allowHttp' :value='allowHttp' name='allowHttp' icon='' @update='update' @clean='clean' :unsaved='unsaved'>
		  				</switch-input>
				</div>

				<div class="five wide column">
						<text-input label='httpsPort' :value='httpsPort' name='httpsPort' 
						    	help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' :validate='httpsPort_validate' @error='vError'>
						</text-input>
				</div>
			</div>
		</div>

		<div class="ui raised segment">
			<switch-input label='Enable' :value='enable' name='enable' icon='' @update='update' @clean='clean' :unsaved='unsaved'>
		  	</switch-input>
			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>
			<div class="ui grid container" v-show='enable'>
				<div class="five wide column">
						<switch-input label='allowHttp' :value='allowHttp' name='allowHttp' icon='' @update='update' @clean='clean' :unsaved='unsaved'>
		  				</switch-input>
				</div>

				<div class="five wide column">
						<text-input label='httpsPort' :value='httpsPort' name='httpsPort' 
						    	help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' :validate='httpsPort_validate' @error='vError'>
						</text-input>
				</div>
			</div>
		</div>

		<button class="ui positive button save" @click.prevent='send'>Save</button>

	</div>
  </div>
</template>

<script>
import Conf from '../../conf/conf'
import textInput from '../elements/textInput'
import switchInput from '../elements/switchInput'
import utils from '../../utils/function'
var meterName = Conf.meterName
var url = '/api/meters/' + meterName + '/settings/communications/httpserver'

export default {
	name: 'network',
	components:{
	  	'text-input': textInput,
	  	'switch-input': switchInput
	},

	data(){
	  	return {
	  		pageLoading:true,
	  		originalData: {},
	  		updatedData: {},
	  		unsaved: [],
	  		validationError: [],

	  		// DB fields
	  		allowHttp: '',
	  		enable: '',
	  		httpsPort: '',

	  		// validate
	  		ip_validate: {
	  			required: true,
	  			ip: true
	  		},
	  		httpsPort_validate: {
	  			required: true,
	  			minLength: 6000,
	  			maxLength: 9999,
	  			default: 443
	  		}	
	  	}		
	},

	methods: {
		getData(){
			utils.request('get', url)
			.then((response)=>{
				this.originalData = response.data.httpServer
				this.allowHttp = response.data.httpServer.allowHttp
				this.enable = response.data.httpServer.enable
				this.httpsPort = response.data.httpServer.httpsPort
			})
			.catch((error)=>{
				console.log(error)
			})
		},

	  	update(name, value){
	  		utils.update(this, name, value, url)
	  	},

	  	clean(name){
	  		utils.clean(this, name)
	  	},

	  	// eth0dhcpSwitch(){
	  	// 	$('.eth0dhcpEnable').transition('slide down')
	  	// },

	  	send(){
	  		if(this.validationError.length != 0){
	  			this.$emit('error', this.validationError.length)
	  		}else{
	  			utils.send(this, 'patch', url)
	  		}
	  	},

	  	vError(name, status){
	  		if(status == true){
	  			if(this.validationError.indexOf(name) == -1){
	  				this.validationError.push(name)
	  			}
	  		}else{
	  			if(this.validationError.indexOf(name) != -1){
	  				this.validationError.splice(this.validationError.indexOf(name), 1)
	  			}
	  		}
	  	}
	},

	created() {
	    this.getData()

	},

	mounted() {
		setTimeout(()=>{this.pageLoading = false}, 400)
	}
}

</script>

<style scoped>
.ui.grid.container{
	text-align: left;
	padding-left: 3%;
	margin-top: 1%;
	margin-bottom: 1%
}
.load{
	min-height: 500px;
	padding:10%;
	text-align: center;
}
</style>