<template>
  <div id="network">

  	<div class="load" v-show="pageLoading">
		<img src="../../assets/loading.gif">
	</div>

	<div class='content' v-show="!pageLoading">
	  	<div class="ui raised segment">
	  		<div class='dhcpSwitch'>
	  				<switch-input label='SMTP' :value='smtpEnable' name='smtpEnable' 
		  				icon='mail icon' @update='update' @clean='clean' @switcher='smtpSwitch' :unsaved='unsaved'>
		  			</switch-input>
			</div>

			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

<!-- 			<div class='dhcpSetting'  v-show='dhcpManualAuto == "manual"'>
				<div class="ui grid container setting manual">
					<div class="five wide column">
							<text-input label='IP Address' :value='dhcp_IPAddress' name='dhcp_IPAddress' help='' 
						    	@update='update' @clean='clean' icon='user icon'>
						    </text-input>
					</div>

					<div class="five wide column">
							<text-input label='Subnet Mask' :value='subnetMask' name='subnetMask' help='' 
						    	@update='update' @clean='clean' icon='user icon'>
						    </text-input>
					</div>

					<div class="five wide column">
							<text-input label='Gateway' :value='gateway' name='gateway' help='' 
						    	@update='update' @clean='clean' icon='user icon'>
						    </text-input>
					</div>
				</div>
			</div> -->
		</div>

<!-- 		<div class="ui raised segment">
			<div class="ui grid container">
				<div class="sixteen wide column">
						<text-input label='DHCP DNS Server 1' :value='dhcpDNSServer1' name='dhcpDNSServer1' 
					    	help='Default:8.8.8.8' @update='update' @clean='clean' icon='server icon'>
					    </text-input>
				</div>

				<div class="sixteen wide column">
						<text-input label='DHCP DNS Server 2' :value='dhcpDNSServer2' name='dhcpDNSServer2' 
						    	help='Default:8.8.4.4' @update='update' @clean='clean' icon='server icon'>
						</text-input>
				</div>

				<div class="sixteen wide column">
						<text-input label='HTTPS Port' :value='httpsPort' name='httpsPort' 
						    	help='Default: 443, Range 6000-9999' @update='update' @clean='clean' icon='server icon'>
						</text-input>
				</div>

				<div class="sixteen wide column">
						<text-input label='Modbus TCP Port' :value='modbusTCPPort' name='modbusTCPPort' 
						    	help='Default: 502, Range 2000-5999' @update='update' @clean='clean' icon='server icon'>
						</text-input>
				</div>
			</div>
		</div>

		<div class="ui raised segment">
	  		<div class='proxySwitch'>
	  				<switch-input label='Proxy Server Enable' :value='proxyEnable' name='proxyEnable' 
		  				icon='rss icon' @update='update' @clean='clean' @switcher='proxySwitch'>
		  			</switch-input>
			</div>

			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

			<div class='proxySetting' v-show='proxyEnable'>
				<div class="ui grid container setting">
					<div class="five wide column">
							<text-input label='Proxy Server URL' :value='proxyServerURL' name='proxyServerURL' 
							    	help='' @update='update' @clean='clean' icon='server icon'>
							</text-input>
					</div>

					<div class="five wide column">
							<text-input label='Proxy Server Port' :value='proxyServerPort' name='proxyServerPort' 
						    	help='' @update='update' @clean='clean' icon='server icon'>
							</text-input>
					</div>
				</div>
			</div>
		</div> -->

		<button class="ui positive button save" @click.prevent='send'>Save</button>

	</div>
  </div>
</template>

<script>
import Conf from '../../conf/conf'
import textInput from '../elements/textInput'
import switchInput from '../elements/switchInput'
import utils from '../../utils/function'
var host = Conf.host
var meterName = Conf.meterName
var RESTApi = '/api/meters/' + meterName + '/settings/communications/'

export default {
	name: 'network',
	components:{
	  	'text-input': textInput,
	  	'switch-input': switchInput
	},

	data(){
	  	return {
	  		pageLoading:true,
	  		updatedData: {},
	  		unsaved: [],

	  		// DB fields
			smtpEnable: ''		
	  	}		
	},

	methods: {
		getData(){
			utils.request('get', '/api/meters/' + meterName + '/settings/communications/')
			.then((response)=>{
				this.smtpEnable = response.data.smtpEnable
			})
			.catch((error)=>{
				console.log(error)
			})
		  //   axios({
				// method: 'get',
				// url: '/api/meters/' + meterName + '/settings/communications/',
				// headers: {'Authorization': 'JWT '+token},
		  //   })
		  //   .then(function (response) {
		  //   	let data = response.data
		  //     	self.smtpEnable = data.smtpEnable
		  //   }.bind(self))
		  //   .catch(function (error) {
		  //     console.log(error);
		  //   }); 
		},

	  	update(name, value){
	  		utils.update(this, name, value, RESTApi)
	  	},

	  	clean(name){
	  		utils.clean(this, name)
	  	},

	  	smtpSwitch(){
	  		$(this.$el).find('.dhcpSetting').transition('slide down')
	  	},

	  	proxySwitch(){
	  		$(this.$el).find('.proxySetting').transition('slide down')
	  	},

	  	send(){
	  		var url = '/api/meters/' + meterName + '/settings/communications/'
	  		utils.send(this, 'patch', url)
	  	}
	},

	created() {
	    this.getData()
	},

	mounted() {
		setTimeout(()=>{this.pageLoading = false}, 300)
	}
}

</script>

<style scoped>
.ui.grid.container.setting{
	text-align: left;
	padding-left: 7%;
	margin-top: 1%;
	margin-bottom: 1%
}
.load{
	min-height: 500px;
	padding:10%;
	text-align: center;
}
</style>