<template>
  <div id="network">

  	<div class="load" v-show="pageLoading">
		<div class="ui active inline loader large"></div>
	</div>

	<div class='content' v-show="!pageLoading">
		<div class="ui raised segment">
			<switch-input label='Eth0 - DHCP' :value='eth0.dhcpEnable' name='eth0.dhcpEnable' icon='' @update='update' @clean='clean' :unsaved='unsaved' @switcher='eth0dhcpSwitch'>
		  	</switch-input>
			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

			<div class="ui grid container eth0dhcpEnable" v-show='!eth0.dhcpEnable'>
				<div class="five wide column">
						<text-input label='Gateway' :value='eth0.gateway' name='eth0.gateway' 
						    	help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' :validate='ip_validate' @error='vError'>
						</text-input>
				</div>

				<div class="five wide column">
						<text-input label='IP' :value='eth0.ip' name='eth0.ip' 
						    	help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' :validate='ip_validate' @error='vError'>
						</text-input>
				</div>

				<div class="five wide column">
						<text-input label='Subnet' :value='eth0.subnet' name='eth0.subnet' 
						    	help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' :validate='ip_validate' @error='vError'>
						</text-input>
				</div>
			</div>
		</div>

		<div class="ui raised segment">
			<switch-input label='Eth1 - DHCP' :value='eth1.dhcpEnable' name='eth1.dhcpEnable' icon='' @update='update' @clean='clean' :unsaved='unsaved' @switcher='eth1dhcpSwitch'>
		  	</switch-input>
			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>
			<div class="ui grid container eth1dhcpEnable" v-show='!eth1.dhcpEnable'>
				<div class="five wide column">
						<text-input label='Gateway' :value='eth1.gateway' name='eth1.gateway' 
						    	help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' :validate='ip_validate' @error='vError'>
						</text-input>
				</div>

				<div class="five wide column">
						<text-input label='IP' :value='eth1.ip' name='eth1.ip' 
						    	help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' :validate='ip_validate' @error='vError'>
						</text-input>
				</div>

				<div class="five wide column">
						<text-input label='Subnet' :value='eth1.subnet' name='eth1.subnet' 
						    	help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' :validate='ip_validate' @error='vError'>
						</text-input>
				</div>
			</div>
		</div>



		<button class="ui positive button save" @click.prevent='send'>Save</button>

	</div>
  </div>
</template>

<script>
import Conf from '../../conf/conf'
import textInput from '../elements/textInput'
import switchInput from '../elements/switchInput'
import utils from '../../utils/function'
var meterName = Conf.meterName
var url = '/api/meters/' + meterName + '/settings/communications/ethernet'

export default {
	name: 'network',
	components:{
	  	'text-input': textInput,
	  	'switch-input': switchInput
	},

	data(){
	  	return {
	  		pageLoading:true,
	  		originalData: {},
	  		updatedData: {},
	  		unsaved: [],
	  		validationError: [],

	  		// DB fields
	  		eth0: {
	  			dhcpEnable: '',
	  			gateway: '',
	  			ip: '',
	  			subnet: '',
	  		},
	  		eth1: {
	  			dhcpEnable: '',
	  			gateway: '',
	  			ip: '',
	  			subnet: '',
	  		},

	  		// validate
	  		ip_validate: {
	  			required: true,
	  			ip: true
	  		},
	  		httpsPort_validate: {
	  			required: true,
	  			minLength: 6000,
	  			maxLength: 9999,
	  			default: 443
	  		},
	  		modbusTCPPort_validate: {
	  			required: true,
	  			minLength: 2000,
	  			maxLength: 5999,
	  			default: 502
	  		}		
	  	}		
	},

	methods: {
		getData(){
			utils.request('get', url)
			.then((response)=>{
				this.originalData = response.data.ethernet
				this.eth0.dhcpEnable = response.data.ethernet.eth0.dhcpEnable
				this.eth0.gateway = response.data.ethernet.eth0.gateway
				this.eth0.ip = response.data.ethernet.eth0.ip
				this.eth0.subnet = response.data.ethernet.eth0.subnet
				this.eth1.dhcpEnable = response.data.ethernet.eth1.dhcpEnable
				this.eth1.gateway = response.data.ethernet.eth1.gateway
				this.eth1.ip = response.data.ethernet.eth1.ip
				this.eth1.subnet = response.data.ethernet.eth1.subnet
			})
			.catch((error)=>{
				console.log(error)
			})
		},

	  	update(name, value){
	  		utils.update(this, name, value, url)
	  	},

	  	clean(name){
	  		utils.clean(this, name)
	  	},

	  	eth0dhcpSwitch(){
	  		$('.eth0dhcpEnable').transition('slide down')
	  	},

	  	eth1dhcpSwitch(){
	  		$('.eth1dhcpEnable').transition('slide down')
	  	},

	  	send(){
	  		if(this.validationError.length != 0){
	  			this.$emit('error', this.validationError.length)
	  		}else{
	  			utils.send(this, 'patch', url)
	  		}
	  	},

	  	vError(name, status){
	  		if(status == true){
	  			if(this.validationError.indexOf(name) == -1){
	  				this.validationError.push(name)
	  			}
	  		}else{
	  			if(this.validationError.indexOf(name) != -1){
	  				this.validationError.splice(this.validationError.indexOf(name), 1)
	  			}
	  		}
	  	}
	},

	created() {
	    this.getData()

	},

	mounted() {
		setTimeout(()=>{this.pageLoading = false}, 400)
	}
}

</script>

<style scoped>
.ui.grid.container{
	text-align: left;
	padding-left: 3%;
	margin-top: 1%;
	margin-bottom: 1%
}
.load{
	min-height: 500px;
	padding:10%;
	text-align: center;
}
</style>