<template>
  <div id="http">
  	<div class="load" v-show="pageLoading">
		<img src="../../assets/loading.gif">
	</div>

	<div class='content' v-show="!pageLoading">

	  	<div class="ui raised segment">
	  		<div class='dataUploadSwitch'>
		  			<switch-input label='Data Upload' :value='dataUploadEnable' name='dataUploadEnable' 
		  				icon='upload icon' @update='update' @clean='clean' @switcher='dataUploadSwitch' :unsaved='unsaved'>
		  			</switch-input>
			</div>

			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

			<div class='dataUploadSetting' v-show='dataUploadEnable'>
				<div class="ui grid container">

					<div class="ten wide column">
							<time-input label='Log Start Time' :value='logStartTime' name='logStartTime' 
					    		@update='update' @clean='clean' :unsaved='unsaved'>
							</time-input>
					</div>

					<div class="six wide column">
							<dropdown-input class='logInterval' label='Log Interval' :dropdownList='logIntervalList' :unsaved='unsaved' :value='logInterval' name='logInterval' @update='update' @clean='clean' >
							</dropdown-input>
					</div>

					<div class="ten wide column">
							<radio-input label='Timestamp Format' :radioList='timestampFormatList' :value='timestampFormat'   name='timestampFormat' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved'>
				    		</radio-input>
					</div>
					<div class="six wide column">
							<text-input label='Push File Prefix' :value='pushFilePrefix' name='pushFilePrefix' 
							    help='' @update='update' @clean='clean' icon='edit icon' :unsaved='unsaved'>
							</text-input>
					</div>
					
				</div>
			</div>
		</div>

		<div class="ui raised segment">
			<div class="ui grid container">
					<div class="ten wide column">
							<radio-input label='Post File Name Format' :radioList='postFileNameFormatList' 
							:value='postFileNameFormat' name='postFileNameFormat' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved'>
					    	</radio-input>
					</div>

					<div class="six wide column">
							<dropdown-input class='postFileLength' label='Post File Length' :dropdownList='logIntervalList' :unsaved='unsaved' :value='postFileLength' name='postFileLength' @update='update' @clean='clean' >
							</dropdown-input>
					</div>
			</div>
		</div>

		<div class="ui raised segment">
	  		<div class='httpPushChannel1Switch'>
		  			<switch-input label='HTTP Push Channel 1 Enable' :value='httpPushChannel1Enable' 
		  				name='httpPushChannel1Enable' icon='power icon' @update='update' @clean='clean' 
		  				@switcher='httpPushChannel1Switch' :unsaved='unsaved'>
		  			</switch-input>
			</div>

			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

			<div class='httpPushChannel1Setting' v-show='httpPushChannel1Enable'>
				<div class="ui grid container">
					<div class='two column row'>
						<div class="column">
								<text-input label='HTTP Push 1 Meter Id' :value='httpPush1MeterId' name='httpPush1MeterId' help='' @update='update' @clean='clean' icon='edit icon' :unsaved='unsaved' min-length='0'>
								</text-input>
						</div>

						<div class="column">
								<text-input label='HTTP Push 1 Meter Upload Url' :value='httpPush1MeterUploadUrl' name='httpPush1MeterUploadUrl' help='' @update='update' @clean='clean' icon='edit icon' :unsaved='unsaved' min-length='0'>
								</text-input>
						</div>
					</div>
					<div class='two column row'>
						<div class="column">
								<text-input label='HTTP Push 1 Port' :value='httpPush1Port' name='httpPush1Port' 
								    help='' @update='update' @clean='clean' icon='edit icon' :unsaved='unsaved' min-length='0'>
								</text-input>
						</div>
						<div class="column">
								<text-input label='HTTP Push 1 Password' :value='httpPush1Password' name='httpPush1Password' help='' @update='update' @clean='clean' icon='edit icon' :unsaved='unsaved' min-length='0'>
								</text-input>
						</div>
					</div>
					<div class='two column row'>
						<div class='column'>
								<dropdown-input class='httpPush1Interval' label='HTTP Push 1 Interval' 
								:dropdownList='logIntervalList' :unsaved='unsaved' :value='httpPush1Interval' name='httpPush1Interval' @update='update' @clean='clean'>
								</dropdown-input>
						</div>
						<div class='column' style='margin-left:-6%'>
							<div class="ui grid container">
								<div class='eight wide column'>
									<h4> Test HTTP Push 1</h4>
									<button class="ui labeled icon button primary" @click.prevent='testHttpPush1Button'>
  										<i class="treatment icon"></i>Test
									</button>
								</div>
								<div class='eight wide column'>
									<h4> Clear  HTTP  Push  1  Logs</h4>
									<button class="ui labeled icon button positive" @click.prevent='clearHttpPush1LogsButton'>
										<i class="erase icon"></i>Clear
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised segment">
	  		<div class='httpPushChannel2Switch'>
		  			<switch-input label='HTTP Push Channel 2 Enable' :value='httpPushChannel2Enable' 
		  				name='httpPushChannel2Enable' icon='power icon' @update='update' @clean='clean' 
		  				@switcher='httpPushChannel2Switch' :unsaved='unsaved'>
		  			</switch-input>
			</div>

			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

			<div class='httpPushChannel2Setting' v-show='httpPushChannel2Enable'>
				<div class="ui grid container">
					<div class='two column row'>
						<div class="column">
								<text-input label='HTTP Push 2 Meter Id' :value='httpPush2MeterId' name='httpPush1MeterId' help='' @update='update' @clean='clean' icon='edit icon' min-length='0' :unsaved='unsaved'>
								</text-input>
						</div>

						<div class="column">
								<text-input label='HTTP Push 2 Meter Upload Url' :value='httpPush2MeterUploadUrl' name='httpPush2MeterUploadUrl' help='' @update='update' @clean='clean' icon='edit icon' :unsaved='unsaved' min-length='0'>
								</text-input>
						</div>
					</div>
					<div class='two column row'>
						<div class="column">
								<text-input label='HTTP Push 2 Port' :value='httpPush2Port' name='httpPush2Port' 
								    help='' @update='update' @clean='clean' icon='edit icon' :unsaved='unsaved' min-length='0'>
								</text-input>
						</div>
						<div class="column">
								<text-input label='HTTP Push 2 Password' :value='httpPush2Password' name='httpPush2Password' help='' @update='update' @clean='clean' icon='edit icon' :unsaved='unsaved' minLength='0'>
								</text-input>
						</div>
					</div>
					<div class='two column row'>
						<div class='column'>
								<dropdown-input class='httpPush2Interval' label='HTTP Push 2 Interval' :unsaved='unsaved' 
								:dropdownList='logIntervalList':value='httpPush2Interval' name='httpPush2Interval' @update='update' @clean='clean'>
								</dropdown-input>
						</div>
						<div class='column' style='margin-left:-6%'>
							<div class="ui grid container">
								<div class='eight wide column'>
									<h4> Test HTTP Push 2</h4>
									<button class="ui labeled icon button primary" @click.prevent='testHttpPush2Button'>
  										<i class="treatment icon"></i>Test
									</button>
								</div>
								<div class='eight wide column'>
									<h4> Clear  HTTP  Push  2  Logs</h4>
									<button class="ui labeled icon button positive" @click.prevent='clearHttpPush2LogsButton'>
										<i class="erase icon"></i>Clear
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised segment">
	  		<div class='ftpPushSwitch'>
		  			<switch-input label='FTP Push Enable' :value='ftpPushEnable' 
		  				name='ftpPushEnable' icon='power icon' @update='update' @clean='clean' 
		  				@switcher='ftpPushSwitch' :unsaved='unsaved'>
		  			</switch-input>
			</div>

			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

			<div class='ftpPushSetting' v-show='ftpPushEnable'>
				<div class="ui grid container">
					<div class='two column row'>
						<div class="column">
								<text-input label='FTP Push Url' :value='ftpPushUrl' name='ftpPushUrl' 
								    help='' @update='update' @clean='clean' icon='edit icon' :unsaved='unsaved' min-length='0'>
								</text-input>
						</div>

						<div class="column">
								<text-input label='FTP Push Port' :value='ftpPushPort' name='ftpPushPort' help='' @update='update' @clean='clean' icon='edit icon' :unsaved='unsaved' min-length='0'>
								</text-input>
						</div>
					</div>
					<div class='two column row'>
						<div class="column">
								<text-input label='FTP Push Username' :value='ftpPushUsername' name='ftpPushUsername' help='' @update='update' @clean='clean' icon='edit icon' :unsaved='unsaved' min-length='0'>
								</text-input>
						</div>
						<div class="column">
								<text-input label='FTP Push Password' :value='ftpPushPassword' name='ftpPushPassword' help='' @update='update' @clean='clean' icon='edit icon' :unsaved='unsaved' min-length='0'> 
								</text-input>
						</div>
					</div>
					<div class='two column row'>
						<div class='column'>
								<dropdown-input class='ftpPushInterval' label='FTP Push Interval'  :unsaved='unsaved' :dropdownList='logIntervalList' :value='ftpPushInterval' name='ftpPushInterval' @update='update' @clean='clean'>
								</dropdown-input>
						</div>
						<div class='column' style='margin-left:-6%'>
							<div class="ui grid container">
								<div class='eight wide column'>
									<h4>Test FTP Push</h4>
									<button class="ui labeled icon button primary" @click.prevent='testFtpPushButton'>
  										<i class="treatment icon"></i>Test
									</button>
								</div>
								<div class='eight wide column'>
									<h4>Clear FTP Push Logs</h4>
									<button class="ui labeled icon button positive" 
										@click.prevent='clearFtpPushLogsButton'>
										<i class="erase icon"></i>Clear
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<button class="ui positive button save" @click.prevent='send'>Save</button>
	</div>
  </div>
</template>

<script>
import Conf from '../../conf/conf'
import textInput from '../elements/textInput'
import dropdownInput from '../elements/dropdownInput'
import switchInput from '../elements/switchInput'
import timeInput from '../elements/timeInput'
import radioInput from '../elements/radioInput'
import utils from '../../utils/function'
var host = Conf.host
var meterName = Conf.meterName
var RESTApi = '/api/meters/' + meterName + '/settings/communications/'

export default {
	name: 'datalog',
	components:{
	  	'text-input': textInput,
	  	'dropdown-input': dropdownInput,
	  	'time-input': timeInput,
	  	'switch-input': switchInput,
	  	'radio-input': radioInput
	},

	data(){
	  	return {
	  		pageLoading:true,
	  		unsaved: [],
	  		updatedData: {},
	  		logIntervalList: ['15 seconds', '1 minute', '5 minute', '10 minute', '15 minute', '30 minute', '1 hour', '6 hours', '12 hours', '1 day', '3 days', '7 days', '1 month'],
	  		// postFileLengthList: ['1 day', '1 month'],
	  		timestampFormatList: [
	  			{
	  				name: 'Local Time String',
	  				desc: '(e.g., 2017-01-01 10:00)'
	  			},
	  			{
	  				name: 'UTC Seconds',
	  				desc: '(Number of seconds that have elapsed since 1970-01-01 0:0:0 Coordinated Universal Time)'
	  			},
	  			{
	  				name: 'ISO8601 Format',
	  				desc: '(e.g., 2017-01-01T10:00-0500)'
	  			}
	  		],
	  		postFileNameFormatList: [
	  			{
	  				name: 'Old Format',
	  				desc: '(For HTTP, use MAC address like ecc38a100001.csv; For FTP, use UTC timestamp like 1484578000.csv)'
	  			},
	  			{
	  				name: 'Time Interval Format',
	  				desc: '(e.g., logger1-2017-01-10T12-00-3day.csv)'
	  			}
	  		],

	  		// DB fields
	  		dataUploadEnable:'',
	  		logStartTime: '',
	  		logInterval: '',
	  		timestampFormat : '',
	  		pushFilePrefix: '',
	  		postFileLength: '',
	  		postFileNameFormat : '',
	  		httpPushChannel1Enable: '',
	  		httpPush1MeterId: '',
	  		httpPush1MeterUploadUrl: '',
	  		httpPush1Port : '',
	  		httpPush1Password: '',
	  		httpPush1Interval: '',
	  		testHttpPush1: '',
	  		clearHttpPush1Logs: '',
	  		httpPushChannel2Enable: '',
	  		httpPush2MeterId: '',
	  		httpPush2MeterUploadUrl: '',
	  		httpPush2Port : '',
	  		httpPush2Password: '',
	  		httpPush2Interval: '',
	  		testHttpPush2: '',
	  		clearHttpPush2Logs: '',
	  		ftpPushEnable: '',
	  		ftpPushUrl: '',
	  		ftpPushPort: '',
	  		ftpPushUsername: '',
	  		ftpPushPassword: '',
	  		ftpPushInterval: '',
	  		testFtpPush: '',
	  		clearFtpPushLogs: ''
	  	}		
	},

	methods: {
		getData(){
			var self = this
			var token = sessionStorage.token
		    axios({
				method: 'get',
				url: '/api/meters/' + meterName + '/settings/communications/',
				headers: {'Authorization': 'JWT '+token},
		    })
		    .then(function (response) {
		    	let data = response.data
		      	self.dataUploadEnable = data.dataUploadEnable
		      	self.logStartTime = data.logStartTime
		      	self.logInterval = data.logInterval
		      	self.timestampFormat = data.timestampFormat
		      	self.pushFilePrefix = data.pushFilePrefix
		      	self.postFileLength = data.postFileLength
		      	self.postFileNameFormat = data.postFileNameFormat
		      	self.httpPushChannel1Enable = data.httpPushChannel1Enable
		      	self.httpPushChannel2Enable = data.httpPushChannel2Enable
		      	self.ftpPushEnable = data.ftpPushEnable
		      	self.ftpPushUrl = data.ftpPushUrl
		      	self.ftpPushPort = data.ftpPushPort
		      	self.ftpPushUsername = data.ftpPushUsername
		      	self.ftpPushPassword = data.ftpPushPassword
		      	self.ftpPushInterval = data.ftpPushInterval
		      	self.testFtpPush = data.testFtpPush
		      	self.clearFtpPushLogs = data.clearFtpPushLogs
		    }.bind(self))
		    .catch(function (error) {
		      console.log(error);
		    }); 
		},

	  	update(name, value){
	  		utils.update(this, name, value, RESTApi)
	  	},

	  	clean(name){
	  		utils.clean(this, name)
	  	},

	  	dataUploadSwitch(){
	  		$(this.$el).find('.dataUploadSetting').transition('slide down')
	  	},

	  	httpPushChannel1Switch(){
	  		$(this.$el).find('.httpPushChannel1Setting').transition('slide down')
	  	},

	  	httpPushChannel2Switch(){
	  		$(this.$el).find('.httpPushChannel2Setting').transition('slide down')
	  	},

	  	ftpPushSwitch(){
	  		$(this.$el).find('.ftpPushSetting').transition('slide down')
	  	},

	  	testHttpPush1Button(){},

	  	clearHttpPush1LogsButton(){},

	  	testHttpPush2Button(){},

	  	clearHttpPush2LogsButton(){},

	  	testFtpPushButton(){},

	  	clearFtpPushLogsButton(){},

	  	send(){
	  		var url = '/api/meters/' + meterName + '/settings/communications/'
	  		utils.send(this, 'patch', url)
	  	},

	  	ResetPassword(){
		  		var self = this
		  		var token = sessionStorage.token
		        axios({
		          method: 'patch',
		          url: '/api/meters/' + meterName + '/settings/communications/',
		          headers: {'Authorization': 'JWT '+token},
		          data: {sftpPasswordReset: '1'}
		        })
		        .then(function (response) {
		        	self.$emit('saved')
		        	$(self.$el).find('.unsavedWarm').css('display', 'none')
		        })
		        .catch(function (error) {
		        	self.$emit('error')
					console.log(error)
		        });
	  	}
	},

	created() {
	    this.getData()
	},

	mounted() {
		setTimeout(()=>{this.pageLoading = false}, 300)
	},
}
</script>

<style scoped>
.ui.grid.container{
	text-align: left;
	padding-left: 3%;
	margin-top: 1%;
	margin-bottom: 1%
}
.load{
	min-height: 500px;
	padding:10%;
	text-align: center;
}

</style>