<template>
  <div id="modbus">

<!--   	<div class="load" v-show="pageLoading">
		<div class="ui active inline loader large"></div>
	</div> -->

	<div class='content'>
		<div class="ui raised segment">
			<switch-input label='modbusRtu Enable' :value='modbusRtu.enable' name='modbusRtu.enable' icon='' @update='update' @clean='clean' :unsaved='unsaved' @switcher='modbusRtuEnableSwitch'>
		  	</switch-input>
			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

			<div class="ui grid container modbusRtuEnableSwitch" v-show='modbusRtu.enable'>
				<div class="five wide column">
						<dropdown-input label='Baud' :dropdownList='modbusRtubaudList' :value='modbusRtu.baud' name='modbusRtu.baud' classname='modbusRtubaud' :unsaved='unsaved' @update='update' @clean='clean' icon='' type='number'>
						</dropdown-input>
				</div>

				<div class="five wide column">
						<dropdown-input label='Data Bit' :dropdownList='modbusRtudataBitList' :value='modbusRtu.dataBit' name='modbusRtu.dataBit' classname='modbusRtudataBit' :unsaved='unsaved' @update='update' @clean='clean' icon='' type='number'>
						</dropdown-input>
				</div>

				<div class="five wide column">
						<dropdown-input label='Parity' :dropdownList='modbusRtuparityList' :value='modbusRtu.parity' name='modbusRtu.parity' classname='modbusRtuparity' :unsaved='unsaved' @update='update' @clean='clean' icon=''>
						</dropdown-input>
				</div>

				<div class="five wide column">
						<text-input label='Slave Address' :value='modbusRtu.slaveAddress' name='modbusRtu.slaveAddress' help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' @error='vError'  type='number' :validate='modbusRtuslaveAddress_validate'>
						</text-input>
				</div>

				<div class="five wide column">
						<dropdown-input label='Stop Bit' :dropdownList='modbusRtustopBitList' :value='modbusRtu.stopBit' name='modbusRtu.stopBit' classname='modbusRtustopBit' :unsaved='unsaved' @update='update' @clean='clean' icon='' type='number'>
						</dropdown-input>
				</div>
			</div>
		</div>

		<div class="ui raised segment">
			<switch-input label='modbusTcp Enable' :value='modbusTcp.enable' name='modbusTcp.enable' icon='' @update='update' @clean='clean' :unsaved='unsaved' @switcher='modbusTcpEnableSwitch'>
		  	</switch-input>
			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

			<div class="ui grid container modbusTcpEnableSwitch" v-show='modbusTcp.enable'>
				<div class="five wide column">
						<text-input label='Port' :value='modbusTcp.port' name='modbusTcp.port' help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' @error='vError'  type='number' :validate='length_validate'>
						</text-input>
				</div>
			</div>
		</div>

		<button class="ui positive button save" @click.prevent='send'>Save</button>

	</div>
  </div>
</template>

<script>
import Conf from '../../conf/conf'
import textInput from '../elements/textInput'
import switchInput from '../elements/switchInput'
import dropdownInput from '../elements/dropdownInput'
import utils from '../../utils/function'
var meterName = Conf.meterName
var url = '/api/meters/' + meterName + '/settings/communications/modbus'

export default {
	name: 'network',
	components:{
	  	'text-input': textInput,
	  	'dropdown-input': dropdownInput,
	  	'switch-input': switchInput
	},

	data(){
	  	return {
	  		pageLoading:true,
	  		originalData: {},
	  		updatedData: {},
	  		unsaved: [],
	  		validationError: [],
	  		modbusRtubaudList: [96, 19200, 38400],
	  		modbusRtudataBitList: [5, 6, 7, 8],
	  		modbusRtustopBitList: [1, 2],
	  		modbusRtuparityList: ['N', 'E', 'O'],

	  		// DB fields
	  		// modbusRtuenable: '',
	  		// modbusRtubaud: '',
	  		// modbusRtudataBit: '',
	  		// modbusRtuparity: '',
	  		// modbusRtuslaveAddress: '',
	  		// modbusRtustopBit: '',
	  		// modbusTcpenable: '',
	  		// modbusTcpport: '',
	  		modbusRtu: {
	  			enable: '',
	  			baud: '',
	  			dataBit: '',
	  			parity: '',
	  			slaveAddress: '',
	  			stopBit: ''
	  		},

	  		modbusTcp: {
	  			enable: '',
	  			port: ''
	  		},

	  		// validate
	  		ip_validate: {
	  			required: true,
	  			ip: true
	  		},
	  		length_validate: {
	  			required: true,
	  			minLength: 6000,
	  			maxLength: 9999
	  			// default: 443
	  		},	
	  		modbusRtuslaveAddress_validate: {
	  			required: true,
	  			minLength: 1,
	  			maxLength: 247
	  			// default: 443
	  		}
	  	}		
	},

	methods: {
		getData(){
			utils.request('get', url)
			.then((response)=>{
				this.originalData = response.data.modbus
				this.modbusRtu.enable = response.data.modbus.modbusRtu.enable
				this.modbusRtu.baud = response.data.modbus.modbusRtu.baud
				this.modbusRtu.dataBit = response.data.modbus.modbusRtu.dataBit
				this.modbusRtu.parity = response.data.modbus.modbusRtu.parity
				this.modbusRtu.slaveAddress = response.data.modbus.modbusRtu.slaveAddress
				this.modbusRtu.stopBit = response.data.modbus.modbusRtu.stopBit
				this.modbusTcp.enable = response.data.modbus.modbusTcp.enable
				this.modbusTcp.port = response.data.modbus.modbusTcp.port
			})
			.catch((error)=>{
				console.log(error)
			})
		},

	  	update(name, value){
	  		utils.update(this, name, value, url)
	  	},

	  	clean(name){
	  		utils.clean(this, name)
	  	},

	  	modbusRtuEnableSwitch(){
	  		$('.modbusRtuEnableSwitch').transition('slide down')
	  	},

	  	modbusTcpEnableSwitch(){
	  		$('.modbusTcpEnableSwitch').transition('slide down')
	  	},

	  	send(){
	  		if(this.validationError.length != 0){
	  			this.$emit('error', this.validationError.length)
	  		}else{
	  			utils.send(this, 'patch', url)
	  		}
	  	},

	  	vError(name, status){
	  		if(status == true){
	  			if(this.validationError.indexOf(name) == -1){
	  				this.validationError.push(name)
	  			}
	  		}else{
	  			if(this.validationError.indexOf(name) != -1){
	  				this.validationError.splice(this.validationError.indexOf(name), 1)
	  			}
	  		}
	  	}
	},

	created() {
	    this.getData()

	},

	mounted() {
		// setTimeout(()=>{this.pageLoading = false}, 400)
		this.$emit('completed')
	}
}

</script>

<style scoped>
.ui.grid.container{
	text-align: left;
	padding-left: 3%;
	margin-top: 1%;
	margin-bottom: 1%
}
.load{
	min-height: 500px;
	padding:10%;
	text-align: center;
}
</style>