<template>
  <div id="network">

  	<div class="load" v-show="pageLoading">
		<img src="../../assets/loading.gif">
	</div>

	<div class='content' v-show="!pageLoading">
	  	<div class="ui raised segment">
	  		<div class='dhcpSwitch'>
	  				<dhcpMA-input label='DHCP' :value='dhcpManualAuto' name='dhcpManualAuto' :unsaved='unsaved'
		  				icon='sitemap icon' @update='update' @clean='clean' @switcher='dhcpSwitch'>
		  			</dhcpMA-input>
			</div>

			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

			<div class='dhcpSetting'  v-show='dhcpManualAuto == "manual"'>
				<div class="ui grid container">
					<div class='three column row'>
						<div class="column">
								<text-input label='IP Address' :value='dhcp_IPAddress' name='dhcp_IPAddress' help='' @update='update' @clean='clean' icon='user icon' :unsaved='unsaved' :validate='ip_validate' @error='vError'>
							    </text-input>
						</div>

						<div class="column">
								<text-input label='Subnet Mask' :value='subnetMask' name='subnetMask' help='' 
							    	@update='update' @clean='clean' icon='user icon' :unsaved='unsaved' :validate='ip_validate' @error='vError'>
							    </text-input>
						</div>

						<div class="column">
								<text-input label='Gateway' :value='gateway' name='gateway' help='' 
							    	@update='update' @clean='clean' icon='user icon' :unsaved='unsaved' :validate='ip_validate' @error='vError'>
							    </text-input>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised segment">
			<div class="ui grid container">
				<div class="eight wide column">
						<text-input label='DHCP DNS Server 1' :value='dhcpDNSServer1' name='dhcpDNSServer1' 
					    	help='Default:8.8.8.8' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' :validate='ip_validate' @error='vError'>
					    </text-input>
				</div>

				<div class="eight wide column">
						<text-input label='DHCP DNS Server 2' :value='dhcpDNSServer2' name='dhcpDNSServer2' 
						    	help='Default:8.8.4.4' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' :validate='ip_validate' @error='vError'>
						</text-input>
				</div>

				<div class="eight wide column">
						<text-input label='HTTPS Port' :value='httpsPort' name='httpsPort' 
						    	help='Default: 443, Range 6000-9999' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' :validate='httpsPort_validate' @error='vError'>
						</text-input>
				</div>

				<div class="eight wide column">
						<text-input label='Modbus TCP Port' :value='modbusTCPPort' name='modbusTCPPort' 
						    	help='Default: 502, Range 2000-5999' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' :validate='modbusTCPPort_validate' @error='vError'>
						</text-input>
				</div>
			</div>
		</div>

		<div class="ui raised segment">
	  		<div class='proxySwitch'>
	  				<switch-input label='Proxy Server Enable' :value='proxyEnable' name='proxyEnable' 
		  				icon='rss icon' @update='update' @clean='clean' @switcher='proxySwitch' :unsaved='unsaved'>
		  			</switch-input>
			</div>

			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

			<div class='proxySetting' v-show='proxyEnable'>
				<div class="ui grid container">
					<div class="eight wide column">
							<text-input label='Proxy Server URL' :value='proxyServerURL' name='proxyServerURL' 
							    	help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved'>
							</text-input>
					</div>

					<div class="eight wide column">
							<text-input label='Proxy Server Port' :value='proxyServerPort' name='proxyServerPort'
						    	help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved'>
							</text-input>
					</div>
				</div>
			</div>
		</div>

		<button class="ui positive button save" @click.prevent='send'>Save</button>

	</div>
  </div>
</template>

<script>
import Conf from '../../conf/conf'
import textInput from '../elements/textInput'
import dhcpMAInput from '../elements/dhcpMAInput'
import switchInput from '../elements/switchInput'
import utils from '../../utils/function'
var host = Conf.host
var meterName = Conf.meterName
var RESTApi = '/api/meters/' + meterName + '/settings/communications/'

export default {
	name: 'network',
	components:{
	  	'text-input': textInput,
	  	'dhcpMA-input': dhcpMAInput,
	  	'switch-input': switchInput
	},

	data(){
	  	return {
	  		pageLoading:true,
	  		updatedData: {},
	  		unsaved: [],
	  		validationError: [],

	  		// DB fields
	  		dhcpManualAuto:'',
	  		subnetMask: '',
	  		gateway: '',
	  		httpsPort: '',
	  		dhcp_IPAddress: '',
	  		modbusTCPPort: '',
	  		proxyEnable: '',
	  		proxyServerURL: '',
	  		proxyServerPort: '',
	  		dhcpDNSServer1: '',
	  		dhcpDNSServer2: '',

	  		// validate
	  		ip_validate: {
	  			required: true,
	  			ip: true
	  		},
	  		httpsPort_validate: {
	  			required: true,
	  			minLength: 6000,
	  			maxLength: 9999,
	  			default: 443
	  		},
	  		modbusTCPPort_validate: {
	  			required: true,
	  			minLength: 2000,
	  			maxLength: 5999,
	  			default: 502
	  		}		
	  	}		
	},

	methods: {
		getData(){
			utils.request('get', '/api/meters/' + meterName + '/settings/communications/')
			.then((response)=>{
		      	this.dhcpManualAuto = response.data.dhcpManualAuto
		      	this.subnetMask = response.data.subnetMask
		      	this.gateway = response.data.gateway
		      	this.httpsPort = response.data.httpsPort
		      	this.dhcp_IPAddress = response.data.dhcp_IPAddress
		      	this.modbusTCPPort = response.data.modbusTCPPort
		      	this.proxyEnable = response.data.proxyEnable
		      	this.proxyServerURL = response.data.proxyServerURL
		      	this.proxyServerPort = response.data.proxyServerPort
		      	this.dhcpDNSServer1 = response.data.dhcpDNSServer1
		      	this.dhcpDNSServer2 = response.data.dhcpDNSServer2
			})
			.catch((error)=>{
				console.log(error)
			})
		},

	  	update(name, value){
	  		utils.update(this, name, value, RESTApi)
	  	},

	  	clean(name){
	  		utils.clean(this, name)
	  	},

	  	dhcpSwitch(){
	  		$('.dhcpSetting').transition('slide down')
	  	},

	  	proxySwitch(){
	  		$('.proxySetting').transition('slide down')
	  	},

	  	send(){
	  		if(this.validationError.length != 0){
	  			this.$emit('error', this.validationError.length)
	  		}else{
	  			var url = '/api/meters/' + meterName + '/settings/communications/'
	  			utils.send(this, 'patch', url)
	  		}
	  	},

	  	vError(name, status){
	  		if(status == true){
	  			if(this.validationError.indexOf(name) == -1){
	  				this.validationError.push(name)
	  			}
	  		}else{
	  			if(this.validationError.indexOf(name) != -1){
	  				this.validationError.splice(this.validationError.indexOf(name), 1)
	  			}
	  		}
	  	}
	},

	created() {
	    this.getData()
	},

	mounted() {
		setTimeout(()=>{this.pageLoading = false}, 400)
	}
}

</script>

<style scoped>
.ui.grid.container{
	text-align: left;
	padding-left: 3%;
	margin-top: 1%;
	margin-bottom: 1%
}
.load{
	min-height: 500px;
	padding:10%;
	text-align: center;
}
</style>