<template>
  <div id="ntptime">

  	<div class="load" v-show="pageLoading">
		<div class="ui active inline loader large"></div>
	</div>

	<div class='content' v-show="!pageLoading">
		<div class="ui raised segment">
			<switch-input label='NTP Time' :value='enable' name='enable' icon='' @update='update' @clean='clean' :unsaved='unsaved' @switcher='enableSwitch'>
		  	</switch-input>
			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

			<div class="ui grid container enableSwitch" v-show='enable'>
				<div class="sixteen wide column">
						<dropdown-input label='Time Zone' :dropdownList='timeZoneList' :value='timeZone' name='timeZone' :unsaved='unsaved' classname='timeZone' @update='update' @clean='clean' icon=''>
						</dropdown-input>
				</div>
				<div class="five wide column">
						<text-input label='NTP Server1' :value='ntpServer1' name='ntpServer1' 
						    	help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' :validate='ip_validate' @error='vError'>
						</text-input>
				</div>

				<div class="five wide column">
						<text-input label='NTP Server2' :value='ntpServer2' name='ntpServer2' 
						    	help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' :validate='ip_validate' @error='vError'>
						</text-input>
				</div>

				<div class="five wide column">
						<text-input label='NTP Server3' :value='ntpServer3' name='ntpServer3' 
						    	help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' :validate='ip_validate' @error='vError'>
						</text-input>
				</div>
			</div>
		</div>

		<button class="ui positive button save" @click.prevent='send'>Save</button>

	</div>
  </div>
</template>

<script>
import Conf from '../../conf/conf'
import textInput from '../elements/textInput'
import switchInput from '../elements/switchInput'
import dropdownInput from '../elements/dropdownInput'
import utils from '../../utils/function'
var meterName = Conf.meterName
var url = '/api/meters/' + meterName + '/settings/communications/ntptime'

export default {
	name: 'network',
	components:{
	  	'text-input': textInput,
	  	'dropdown-input': dropdownInput,
	  	'switch-input': switchInput
	},

	data(){
	  	return {
	  		pageLoading:true,
	  		originalData: {},
	  		updatedData: {},
	  		unsaved: [],
	  		validationError: [],
	  		timeZoneList: ['ETC-8'],

	  		// DB fields
	  		enable: '',
	  		ntpServer1: '',
	  		ntpServer2: '',
	  		ntpServer3: '',
	  		timeZone: '',

	  		// validate
	  		ip_validate: {
	  			required: true,
	  			ip: true
	  		}
	  		// length_validate: {
	  		// 	required: true,
	  		// 	minLength: 6000,
	  		// 	maxLength: 9999,
	  		// 	default: 443
	  		// },	
	  	}		
	},

	methods: {
		getData(){
			utils.request('get', url)
			.then((response)=>{
				this.originalData = response.data.ntpTime
				this.enable = response.data.ntpTime.enable
				this.ntpServer1 = response.data.ntpTime.ntpServer1
				this.ntpServer2 = response.data.ntpTime.ntpServer2
				this.ntpServer3 = response.data.ntpTime.ntpServer3
				this.timeZone = response.data.ntpTime.timeZone
			})
			.catch((error)=>{
				console.log(error)
			})
		},

	  	update(name, value){
	  		utils.update(this, name, value, url)
	  	},

	  	clean(name){
	  		utils.clean(this, name)
	  	},

	  	enableSwitch(){
	  		$('.enableSwitch').transition('slide down')
	  	},

	  	send(){
	  		if(this.validationError.length != 0){
	  			this.$emit('error', this.validationError.length)
	  		}else{
	  			utils.send(this, 'patch', url)
	  		}
	  	},

	  	vError(name, status){
	  		if(status == true){
	  			if(this.validationError.indexOf(name) == -1){
	  				this.validationError.push(name)
	  			}
	  		}else{
	  			if(this.validationError.indexOf(name) != -1){
	  				this.validationError.splice(this.validationError.indexOf(name), 1)
	  			}
	  		}
	  	}
	},

	created() {
	    this.getData()

	},

	mounted() {
		setTimeout(()=>{this.pageLoading = false}, 400)
	}
}

</script>

<style scoped>
.ui.grid.container{
	text-align: left;
	padding-left: 3%;
	margin-top: 1%;
	margin-bottom: 1%
}
.load{
	min-height: 500px;
	padding:10%;
	text-align: center;
}
</style>