<template>
  <div id="smtp">

  	<div class="load" v-show="pageLoading">
		<div class="ui active inline loader large"></div>
	</div>

	<div class='content' v-show="!pageLoading">
		<div class="ui raised segment">
			<switch-input label='SMTP Enable' :value='enable' name='enable' icon='' @update='update' @clean='clean' :unsaved='unsaved' @switcher='enableSwitch'>
		  	</switch-input>
			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

			<div class="ui grid container enableSwitch" v-show='enable'>
				<div class="five wide column">
						<text-input label='From' :value='fromEmail' name='from' 
						    	help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' @error='vError'>
						</text-input>
				</div>

				<div class="five wide column">
						<text-input label='Host' :value='host' name='host' 
						    	help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' @error='vError'>
						</text-input>
				</div>

				<div class="five wide column">
						<text-input label='Password' :value='password' name='password' 
						    	help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' @error='vError'>
						</text-input>
				</div>

				<div class="five wide column">
						<text-input label='Port' :value='port' name='port' 
						    	help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' @error='vError' type='number' :validate='port_validate'>
						</text-input>
				</div>

				<div class="five wide column">
						<text-input label='User' :value='user' name='user' 
						    	help='' @update='update' @clean='clean' icon='server icon' :unsaved='unsaved' @error='vError'>
						</text-input>
				</div>
			</div>
		</div>

		<button class="ui positive button save" @click.prevent='send'>Save</button>

	</div>
  </div>
</template>

<script>
import Conf from '../../conf/conf'
import textInput from '../elements/textInput'
import switchInput from '../elements/switchInput'
import dropdownInput from '../elements/dropdownInput'
import utils from '../../utils/function'
var meterName = Conf.meterName
var url = '/api/meters/' + meterName + '/settings/communications/smtp'

export default {
	name: 'network',
	components:{
	  	'text-input': textInput,
	  	'dropdown-input': dropdownInput,
	  	'switch-input': switchInput
	},

	data(){
	  	return {
	  		pageLoading:true,
	  		originalData: {},
	  		updatedData: {},
	  		unsaved: [],
	  		validationError: [],
	  		timeZoneList: ['ETC-8'],

	  		// DB fields
	  		enable: '',
	  		fromEmail: '',
	  		host: '',
	  		password: '',
	  		port: '',
	  		user: '',

	  		// validate
	  		ip_validate: {
	  			required: true,
	  			ip: true
	  		},
	  		port_validate: {
	  			required: true,
	  			minLength: 80,
	  			maxLength: 9999
	  		},	
	  	}		
	},

	methods: {
		getData(){
			utils.request('get', url)
			.then((response)=>{
				this.originalData = response.data.smtp
				this.enable = response.data.smtp.enable
				this.fromEmail = response.data.smtp.from
				this.host = response.data.smtp.host
				this.password = response.data.smtp.password
				this.port = response.data.smtp.port
				this.user = response.data.smtp.user
			})
			.catch((error)=>{
				console.log(error)
			})
		},

	  	update(name, value){
	  		utils.update(this, name, value, url)
	  	},

	  	clean(name){
	  		utils.clean(this, name)
	  	},

	  	enableSwitch(){
	  		$('.enableSwitch').transition('slide down')
	  	},

	  	send(){
	  		if(this.validationError.length != 0){
	  			this.$emit('error', this.validationError.length)
	  		}else{
	  			utils.send(this, 'patch', url)
	  		}
	  	},

	  	vError(name, status){
	  		if(status == true){
	  			if(this.validationError.indexOf(name) == -1){
	  				this.validationError.push(name)
	  			}
	  		}else{
	  			if(this.validationError.indexOf(name) != -1){
	  				this.validationError.splice(this.validationError.indexOf(name), 1)
	  			}
	  		}
	  	}
	},

	created() {
	    this.getData()

	},

	mounted() {
		setTimeout(()=>{this.pageLoading = false}, 400)
	}
}

</script>

<style scoped>
.ui.grid.container{
	text-align: left;
	padding-left: 3%;
	margin-top: 1%;
	margin-bottom: 1%
}
.load{
	min-height: 500px;
	padding:10%;
	text-align: center;
}
</style>