<template>
  <div id="network">

  	<div class="load" v-show="pageLoading">
		<img src="../../assets/loading.gif">
	</div>

	<div class='content' v-show="!pageLoading">
	  	<div class="ui raised segment">
	  		<div class='dhcpSwitch'>
	  				<switch-input label='SNTP' :value='sntpEnable' name='sntpEnable' 
		  				icon='sitemap icon' @update='update' @clean='clean' @switcher='sntpSwitch' :unsaved='unsaved'>
		  			</switch-input>
			</div>

			<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

			<div class='sntpSetting'  v-show='sntpEnable'>
				<div class="ui grid container">
					<div class="column row">	
						<div class="column">
								<text-input label='SNTP Interval' :value='sntpInterval' name='sntpInterval' help=''  @update='update' @clean='clean' icon='user icon' :unsaved='unsaved'>
							    </text-input>
						</div>
					</div>
					<div class="three column row">
						<div class="column">
								<text-input label='SNTP Server 1' :value='sntpServer1' name='sntpServer1' help='' 
							    	@update='update' @clean='clean' icon='user icon' :unsaved='unsaved'>
							    </text-input>
						</div>
						<div class="column">
								<text-input label='SNTP Server 2' :value='sntpServer2' name='sntpServer2' help='' 
							    	@update='update' @clean='clean' icon='user icon' :unsaved='unsaved'>
							    </text-input>
						</div>
						<div class="column">
								<text-input label='SNTP Server 3' :value='sntpServer3' name='sntpServer3' help='' 
							    	@update='update' @clean='clean' icon='user icon' :unsaved='unsaved'>
							    </text-input>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised segment">
			<div class="ui grid container">
				<div class="eight wide column">
						<time-input label='Device Clock' :value='deviceClock' name='deviceClock' @update='update' @clean='clean'  :unsaved='unsaved'>
						</time-input>
<!-- 					  <h4>Device Clock</h4>
					  <div class="ui calendar" id="example1">
					    <div class="ui input left icon" style='width:21%'>
					      <input type="text" placeholder="Date/Time" v-model='deviceClock'>
					      <i class="calendar icon"></i>
					    </div>
					  </div> -->
				</div>

				<div class="eight wide column">
						<text-input label='Time Zone' :value='timeZone' name='timeZone' help='' @update='update' @clean='clean' icon='wait icon' :unsaved='unsaved'>
						</text-input>
				</div>
			</div>
		</div>

		<button class="ui positive button save" @click.prevent='send'>Save</button>

	</div>
  </div>
</template>

<script>
import Conf from '../../conf/conf'
import textInput from '../elements/textInput'
import timeInput from '../elements/timeInput'
import switchInput from '../elements/switchInput'
import utils from '../../utils/function'

var host = Conf.host
var meterName = Conf.meterName
var RESTApi = '/api/meters/' + meterName + '/settings/communications/'

export default {
	name: 'network',
	components:{
	  	'text-input': textInput,
	  	'time-input': timeInput,
	  	'switch-input': switchInput
	},

	data(){
	  	return {
	  		pageLoading:true,
	  		updatedData: {},
	  		unsaved: [],

	  		// DB fields
	  		sntpEnable: '',
	  		sntpInterval: '',
	  		sntpServer1: '',
	  		sntpServer2: '',
	  		sntpServer3: '',
	  		deviceClock: '',
	  		timeZone: ''
	  	}		
	},

	methods: {
		getData(){
			utils.request('get', '/api/meters/' + meterName + '/settings/communications/')
			.then((response)=>{
		      	this.sntpEnable = response.data.sntpEnable
		      	this.sntpInterval = response.data.sntpInterval
		      	this.sntpServer1 = response.data.sntpServer1
		      	this.sntpServer2 = '2'
		      	this.sntpServer3 = '3'
		      	this.deviceClock = response.data.deviceClock
		      	this.timeZone = response.data.timeZone
			})
			.catch((error)=>{
				console.log(error)
			})
		  //   axios({
				// method: 'get',
				// url: '/api/meters/' + meterName + '/settings/communications/',
				// headers: {'Authorization': 'JWT '+token},
		  //   })
		  //   .then(function (response) {
		  //   	let data = response.data
		  //     	self.sntpEnable = data.sntpEnable
		  //     	self.sntpInterval = data.sntpInterval
		  //     	self.sntpServer1 = data.sntpServer1
		  //     	self.sntpServer2 = '2'
		  //     	self.sntpServer3 = '3'
		  //     	self.deviceClock = data.deviceClock
		  //     	self.timeZone = data.timeZone
		  //   }.bind(self))
		  //   .catch(function (error) {
		  //     console.log(error);
		  //   }); 
		},

	  	update(name, value){
	  		utils.update(this, name, value, RESTApi)
	  	},

	  	clean(name){
	  		utils.clean(this, name)
	  	},

	  	sntpSwitch(){
	  		$(this.$el).find('.sntpSetting').transition('slide down')
	  	},

	  	send(){
	  		var url = '/api/meters/' + meterName + '/settings/communications/'
	  		utils.send(this, 'patch', url)
	  	}
	},

	created() {
	    this.getData()
	},

	mounted() {
		setTimeout(()=>{this.pageLoading = false}, 300)	
	}

}

</script>

<style scoped>
.ui.grid.container{
	text-align: left;
	padding-left: 3%;
	margin-top: 1%;
	margin-bottom: 1%
}
.load{
	min-height: 500px;
	padding:10%;
	text-align: center;
}
</style>