<template>
 	<div id="wifi">
	  	<div class="load" v-show="wifi.pageLoading">
	  		<div class="ui active inline loader large"></div>
	  	</div>
		<form class='content ui form' v-show="!wifi.pageLoading">
		  	<div class="ui raised segment">
		  		<div class='wifiSwitch'>
			  			<switch-input label='Wi-Fi' :value='wifi.enable' name='enable' :unsaved='wifi.unsaved' icon='rss icon' @update='update' @clean='clean' @switcher='wifiSwitch'>
			  			</switch-input>
				</div>

				<h6 class="ui horizontal divider"><i class="tag icon"></i></h6>

				<div class='settingDetail' v-show='wifi.enable'>
						<dropdown-input label='Mode' :dropdownList='wifi.wifiModes' :value='wifi.mode' name='mode' :unsaved='wifi.unsaved' @update='update' @clean='clean' @changeValue='changeMode' icon='exchange icon' display='inline-block' classname='mode'>
						</dropdown-input>

					<!-- <div class="ui grid container" v-show='wifi.wifiModePreview == "Access Point"'> -->
						<hr>Access Point
						<div class="ui grid container">
						<div class="three column row">
							<div class="column">
									<text-input label='Connect to SSID' :unsaved='wifi.unsaved' :value='wifi.apConfigssid' name='apConfig.ssid' help='' @update='update' @clean='clean' icon='user icon'>
								    </text-input>
							</div>

							<div class="column">
									<text-input label='Network Key' :unsaved='wifi.unsaved' :value='wifi.apConfigkey' name='apConfig.key' help='' @update='update' @clean='clean' icon='lock icon'>
								    </text-input>
							</div>

							<div class="column">
									<text-input label='IP' :unsaved='wifi.unsaved' :value='wifi.apConfigip' name='apConfig.ip' help='' @update='update' @clean='clean' icon='sitemap icon'>
								    </text-input>
							</div>
						</div>
					</div>

					<!-- <div class="ui grid container" v-show='wifi.wifiModePreview == "Station"'> -->
						<hr>Station
						<div class="ui grid container">
						<div class="three column row">
							<div class="column">
									<switch-input label='DHCP' :value='wifi.staConfigdhcpEnable' name='staConfig.dhcpEnable' :unsaved='wifi.unsaved' icon='' @update='update' @clean='clean'>
			  						</switch-input>
							</div>

							<div class="column">
									<text-input label='Connect to SSID' :value='wifi.staConfigssid' name='staConfig.ssid' help='' @update='update' @clean='clean' icon='user icon' :unsaved='wifi.unsaved'>
								    </text-input>
							</div>

							<div class="column">
									<text-input label='Network Key' :value='wifi.staConfigkey' name='staConfig.key' help='' @update='update' @clean='clean' icon='lock icon' :unsaved='wifi.unsaved'>
								    </text-input>
							</div>
						</div>
						<div class="three column row">
							<div class="column">
									<text-input label='IP' :value='wifi.staConfigip' name='staConfig.ip' help='' 
								    	@update='update' @clean='clean' icon='user icon' :unsaved='wifi.unsaved'>
								    </text-input>
							</div>
							<div class="column">
									<text-input label='Gateway' :value='wifi.staConfiggateway' name='staConfig.gateway' help='' @update='update' @clean='clean' icon='user icon' :unsaved='wifi.unsaved'>
								    </text-input>
							</div>
							<div class="column">
									<text-input label='Subnet' :value='wifi.staConfigsubnet' name='staConfig.subnet' help='' 
								    	@update='update' @clean='clean' icon='user icon' :unsaved='wifi.unsaved'>
								    </text-input>
							</div>
						</div>
					</div>
				</div>
			</div>

<!-- 			<div class="ui raised segment">
				<div class="ui grid container">
					<div class='eight wide column'>
					    <text-input label='DHCP DNS Server 1' :value='wifi.dhcpDNSServer1' name='dhcpDNSServer1' help='Default:8.8.8.8' @update='update' @clean='clean' icon='server icon' :unsaved='wifi.unsaved'>
					    </text-input>
					</div>

					<div class='eight wide column'>
					    <text-input label='DHCP DNS Server 2' :value='wifi.dhcpDNSServer2' name='dhcpDNSServer2'  help='Default: 8.8.4.4' @update='update' @clean='clean' icon='server icon' :unsaved='wifi.unsaved'>
					    </text-input>
					</div>
				</div>
			</div> -->
			<button class="ui positive button save" @click.prevent='send'>Save</button>
		</form>
 	</div>
</template>

<script>
import {mapState} from 'vuex'
import {mapActions} from 'vuex'
import {mapGetters} from 'vuex'

import ajax from '../../ajax/ajax'
import utils from '../../utils/function'
import Conf from '../../conf/conf'
import textInput from '../elements/textInput'
import dropdownInput from '../elements/dropdownInput'
import switchInput from '../elements/switchInput'
var meterName = Conf.meterName
var RESTApi = '/api/meters/' + meterName + '/settings/communications/'

export default {
	name: 'wifi',
	components:{
	  	'text-input': textInput,
	  	'dropdown-input': dropdownInput,
	  	'switch-input': switchInput
	},

	computed: {
	    ...mapState([
	    	'wifi'     // 将 store.modules.wifi.state 映射this.wifi  
	    ]),

	    ...mapGetters([
	    	'wifiMode'    // 這是映射 store.getters.wifiMode
	    ])
	},

	methods: {
	  	update(name, value){
	  		this.$emit('changed')
	  		this.$store.state.wifi.updatedData[name] = value
	  		var index = this.$store.state.wifi.unsaved.indexOf(name)
	  		if (index == -1) {
			    this.$store.state.wifi.unsaved.push(name)
			}
			this.$emit('updatedData', this.$store.state.wifi.updatedData, RESTApi)
	  	},

	  	clean(name){
	  		this.$emit('unchanged')
	  		var index = this.$store.state.wifi.unsaved.indexOf(name)
	  		if (index > -1) {
			    this.$store.state.wifi.unsaved.splice(index, 1);
			}
	  		delete this.$store.state.wifi.updatedData[name]
	  	},

	  	wifiSwitch(){
	  		$('.settingDetail').transition('slide down')
	  	},

	  	changeMode(modeName){
	  		this.$store.state.wifi.wifiModePreview = modeName
	  	},

	  	send(){

	  		if(Object.keys(this.$store.state.wifi.updatedData).length > 0){		 // If nothing's changed then skip 
		  		// var token = sessionStorage.token
			  	const mutate = (keyList, value, obj) => {  // keyList: ['eth0', 'dhcpEnable']
					if(keyList.length > 1){
						for(let objKey in obj){
							if(objKey == keyList[0]){
								keyList.shift()     // pop the first key out
								mutate(keyList, value, obj[objKey])
							}
						}
					}else{
						obj[keyList[0]] = value
					}
				}

				for(let i in this.$store.state.wifi.updatedData){    
					var keyList = i.split('.')
					mutate(keyList, this.$store.state.wifi.updatedData[i], this.$store.state.wifi.originalData)
				}
				console.log(this.$store.state.wifi.originalData)
		        axios({
		          method: 'patch',
		          url: '/api/meters/' + meterName + '/settings/communications/wifi',
		          // headers: {'Authorization': 'JWT '+token},
		          data: this.$store.state.wifi.originalData
		        })
		        .then((response) => {
		        	for(let newEach in this.$store.state.wifi.updatedData){
		  				this.$store.state.wifi[newEach.replace('.', '')] = this.$store.state.wifi.updatedData[newEach]
		  			}   // Update Vue data

		  			this.$store.state.wifi.updatedData = {}  // Empty updatedData object to prevent uploading the same data
		        	this.$emit('saved')
		        	this.$store.state.wifi.unsaved = []
		        })
		        .catch(function (error) {
		        	this.$emit('error')
		        	this.$store.state.wifi.unsaved = []
					console.log(error)
		        });
	  		}else{
	  			$('.save').transition('shake')
	  		}
	  	}
	},

	created() {
	    this.$store.dispatch('getData')
	},

	mounted() {  
		setTimeout(()=>{this.$store.state.wifi.pageLoading = false}, 300)
	},

	beforeDestroy(){	
		this.$store.state.wifi.pageLoading = true    // Only for VUEX usage!
	}
}
</script>

<style scoped>
.ui.grid.container{
	text-align: left;
	padding-left: 3%;
	margin-top: 1%;
	margin-bottom: 1%
}
.load{
	min-height: 500px;
	padding:10%;
	text-align: center;
}

</style>