<template>
	<form>
		<h4 :style="{display: display}">{{label}}</h4>
		<i :class="icon" v-if='icon'></i>
		<span v-if='!multiple'>
		<select v-if='dropdownList instanceof Array' :class="[classname, 'ui', 'dropdown']" v-model='selected' >
		  	<option v-for="each in dropdownList" :value='each' :name='each'>{{each}}
		  	</option>
		</select>
		<select v-else :class="[classname, 'ui', 'dropdown']" v-model='selected' >
		  	<option v-for="(each,key) in dropdownList" :value='key' :name='each'>{{each}}
		  	</option>
		</select>
		</span>

		<span v-else>
		<select :class="[classname, 'multiple', 'ui', 'dropdown']" v-model='selected'>
		  	<option v-for="each in dropdownList" :value='each'>{{each}}
		  	</option>
		</select>	
		</span>
		<div class="ui left pointing orange label" v-show='unsavedShow' >
		      unsaved
		</div>
	</form>
</template>

<script>
export default{
	props: ['label', 'dropdownList', 'name', 'value', 'help', 'icon', 'display', 'unsaved', 'classname', 'multiple', 'type'],
	data(){
		return {
			selected: ''
		}
	},
	computed: {
  		unsavedShow(){
  			if($.inArray(this.name, this.unsaved) !== -1){
  				return true
  			}else{
  				return false
  			}
  		}
	},
	methods: {
	},
	watch: {
		value: function(){
			if(this.multiple){
				var value = this.value.map(x => x.toString())
				$('.' + this.classname).dropdown({on:'hover'}).dropdown('set selected', value)
			}else{
				$('.' + this.classname).dropdown({on:'hover'}).dropdown('set selected', this.value.toString())
			}
		},
		selected: function(){
  			this.$emit('changeValue', this.selected)
	  		if(this.value.toString() != this.selected.toString()){
	  			if(this.type != 'number'){
	  				this.$emit('update', this.name, this.selected)
	  			}else{
	  				this.$emit('update', this.name, parseInt(this.selected))
	  			}	  
	  		}else{
	  			this.$emit('clean', this.name)
	  		}	
		}
	},
	mounted(){
		if(this.multiple){
			var value = this.value.map(x => x.toString())
			$('.' + this.classname).dropdown({on:'hover'}).dropdown('set selected', value)
		}else{
			$('.' + this.classname).dropdown({on:'hover'}).dropdown('set selected', this.value.toString())
		}
	}
}
</script>

<style scoped>
.ui.label, .ui.labels .label {
     font-size: 110% 
}
.ui.label>.icon {
    margin: 0
}
.ui.left.pointing.label{
	font-size: 70%;
}
/*h4{
	display: inline-block;
}*/
.help{
	opacity: 0.7;
	margin-top: 2%;
	margin-left: 2%;
}
form:focus{
	outline:0;
}
</style>