<template>
	<form>
		    <div class="grouped fields">
			    <label :for="name"><h4>{{label}}</h4></label>
			    <div class="ui left pointing orange label" v-show='value != newValue'>
			      unsaved
				</div>
			    <div class="field" v-for='each in radioList'>
			      <div class="ui radio checkbox" @click='change(each["name"])'>
			        <input type="radio" :name="name" :checked="each['name'] == newValue" tabindex="0" class="hidden">
			        <label>{{each['name']}}<span class='help'>{{each['desc']}}</span></label>
			      </div>
			    </div>
			</div>
			
	</form>
</template>

<script>
export default{
	props: ['label', 'name', 'value', 'radioList', 'icon', 'unsaved'],
	data(){
		return{
			newValue: ''
		}	
	},
	methods: {
	  	change(each){  
	  		this.newValue = each
	  		if(this.value != this.newValue){
	  			this.$emit('update', this.name, this.newValue)
	  		}else{
	  			this.$emit('clean', this.name)
	  		}
	  	}
	},
	watch: {   
		value: function(){
			this.newValue = this.value
		}
	}
}
</script>

<style scoped>
.ui.label, .ui.labels .label {
     font-size: 110% 
}
.ui.label>.icon {
    margin: 0
}
.ui.left.pointing.label{
	font-size: 70%;
}
h4{
	display: inline-block;
	margin-bottom: 10px
}
form{
	margin-top: 1%;
	margin-bottom: -1%
}
.help{
	opacity: 0.7;
	margin-top: 2%;
	margin-left: 2%;
}
.ui.radio.checkbox{
	width:100%;
	margin-bottom: 10px
}
</style>