<template>
	<form>
	  		<h4>{{label}}</h4>
	  		<i :class="icon"></i>
			<div class="ui toggle checkbox" @change="switcher">
			  <input type="checkbox" v-model='selected'>
			  <label><span v-if='selected == true'>On</span><span v-if='selected == false'>Off</span></label>
			</div>
			<div class="ui left pointing orange label" v-show='unsavedShow'>
			      unsaved
			</div>
	</form>
</template>

<script>
export default{
	props: ['label', 'name', 'value', 'help', 'icon', 'unsaved'],
	data(){
		return{
			newValue: null,
			selected: ''
		}	
	},
	computed: {
		unsavedShow(){	  		
  			if($.inArray(this.name, this.unsaved) !== -1){
  				return true
  			}else{
  				return false
  			}
  		}
	},
	methods: {
	  	switcher(){  
	  		this.$emit('switcher')   // Show or hide the content
	  		this.selected == true ? this.newValue = true : this.newValue = false
	  		if(this.value != this.newValue){
	  			this.$emit('update', this.name, this.newValue)
	  		}else{
	  			this.$emit('clean', this.name)
	  		}
	  	}
	},
	watch: {   
		value: function(){  //  Initial data
			this.value == false ? this.selected = false : this.selected = true
		}
	},
	mounted(){    // Only for VUEX usage!
			this.value == false ? this.selected = false : this.selected = true	
	}
}
</script>

<style scoped>
.ui.label, .ui.labels .label {
     font-size: 110% 
}
.ui.label>.icon {
    margin: 0
}
.ui.left.pointing.label{
	font-size: 70%;
}
h4{
	display: inline-block;
}
form{
	margin-top: 1%;
	margin-bottom: -1%
}
.help{
	opacity: 0.7;
	margin-top: 2%;
	margin-left: 2%;
}
</style>