<template>
	<form class="ui form">
		<div>
			<h4 :class="{'warning-label': validationError}">{{label}}</h4>
			<div class="ui label icon" v-show='icon'>
				<i :class="[{'warning-input': validationError}, icon]"></i>
			</div>		  
			<div class="ui input" :style='width'>
				<input :type="type || 'text'" v-model='newValue' @keyup='listenText' @change='listenText'  @blur='listenText' name='textinput' :class="{'warning-input': validationError}">
			</div>
			<span class='help'>{{help}}</span>	
			<div class="ui left pointing orange label" v-show='unsavedShow'>
				unsaved
			</div>
		</div>
		<div class="ui pointing basic label warning" v-show="validationError">
			{{validationError}}
		</div>
	</form>
</template>

<script>
export default{
	props: ['label', 'name', 'value', 'help', 'icon', 'width', 'type', 'unsaved', 'validate'],
	data(){
		return {
			newValue: '',
			validationError: '',
			requiredMsg: 'This field can not be null!',
		}
	},
	computed: {
		unsavedShow(){
			if($.inArray(this.name, this.unsaved) !== -1){
  				return true
  			}else{
  				return false
  			}
		}
	},
	methods: {
		listenText(){
	  		if(this.value != this.newValue){
	  			this.type == 'number' ? this.newValue = parseInt(this.newValue) : {}
	  			this.$emit('update', this.name, this.newValue)
	  		}else{
	  			this.$emit('clean', this.name)
	  		}

	  		if(this.validate){
	  			// If required exist and be true
				if(this.validate['required']){
					if(this.newValue == ''){
						this.validationError = this.requiredMsg
					}else{
						// If ip exist
						if(this.validate['ip']){
							var regIp = /^(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\.){3}(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]?|[0-9])(:[0-9]{2,4})?$/
							if(!regIp.test(this.newValue)){
								this.validationError = 'This value must be a valid IP address, eg 192.168.1.100'
							}else{
								this.validationError = ''
							}
						}
						// If minLength and maxLength exist
						if(this.validate['minLength'] && this.validate['maxLength']){
							if(this.newValue <= this.validate['minLength'] || this.newValue >= this.validate['maxLength']){
								if(this.validate['default'] == this.newValue){
									this.validationError = ''
								}else{
									this.validationError = 'This value should be between ' + this.validate['minLength'] + ' and ' + this.validate['maxLength']
								}
							}else{
								this.validationError = ''
							}
						}
						
					} 
				}	  			
	  		}	
  		}
	},
	watch: {
		value: function(){
			this.newValue = this.value
		},
		validationError: function(){
			if(this.validationError){
				this.$emit('error', this.name, true)
			}else{
				this.$emit('error', this.name, false)
			}
		}
	},
	mounted(){
		this.newValue = this.value
	}

}
</script>

<style scoped>
.ui.label, .ui.labels .label {
     font-size: 110% 
}
.ui.label>.icon {
    margin: 0
}
.ui.left.pointing.label{
	font-size: 70%;
}
.help{
	opacity: 0.7;
	margin-top: 2%;
	margin-left: 2%;
}
.ui.input input{
	background-color: #f7f7f7;
	border:1.3px solid #f7f7f7
}
.ui.input input:focus{
	border: 1.3px dotted #088c91;
}
.warning{
	width:70%;
	text-align: center;
	font-size: small!important;
	border:1px solid #e0b4b4!important;
	color: #9f3a38!important;
}
.warning-input{
	background-color: #fff6f6!important;
	border:1.3px solid #e0b4b4!important;
	color: #9f3a38!important;
}
.warning-label{
	color: #9f3a38!important;
}
.warning-icon{
	background-color: #fff6f6!important;
	color: #9f3a38!important;
}
/*.ui.form input{
	width:200px;
}*/

</style>