<template>
	<form>
		  <h4>{{label}}</h4>
		  <div :class="[classname, 'ui', 'calendar']">
		  <div class="ui label">
		    <i class="calendar icon"></i>
		    </div>
		    <div class="ui input left">
		      <input type="text" :readonly='true'>
		    </div>
		    <div class="ui left pointing orange label" v-show='unsavedShow'>
	      		unsaved
	    	</div> 
		  </div>
	</form>
</template>

<script>

export default{
	props: ['label', 'name', 'value', 'help', 'icon', 'unsaved', 'classname'],
	computed: {
		unsavedShow(){	
			if($.inArray(this.name, this.unsaved) !== -1){
  				return true
  			}else{
  				return false
  			}
		}
	},
	methods: {
		dateConvert(utcDate){
			var monthNames = [
			    "January", "February", "March",
			    "April", "May", "June", "July",
			    "August", "September", "October",
			    "November", "December"
			];
			var date = new Date(parseInt(utcDate)*1000)
			var day = date.getDate();
			var hours = date.getHours();
			var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
			var minutes = date.getMinutes() < 10 ? '0'+ date.getMinutes() : date.getMinutes();
  			var monthIndex = date.getMonth();
  			var year = date.getFullYear();
			var fDate = monthNames[monthIndex] + ' ' + day + ', ' + year + ' ' + hours + ':' + minutes + ' ' + ampm
			return fDate
		}
	},
	watch: {
		value: function(){    // Initial time
			$('.' + this.classname).calendar('set date', this.dateConvert(this.value))
		}
	},
	mounted(){
		$('.' + this.classname).calendar({
			onChange: (date, text, mode) => {	
				var oldDate = this.dateConvert(this.value)
				if(oldDate != text){
					var newDate = new Date(text).getTime()
		  			this.$emit('update', this.name, newDate/1000)
		  		}else{
		  			this.$emit('clean', this.name)
		  		}
			}
		})	
	}
}
</script>

<style scoped>
.ui.label, .ui.labels .label {
     font-size: 110% 
}
.ui.label>.icon {
    margin: 0
}
.ui.left.pointing.label{
	font-size: 70%;
}
.ui[class*="left icon"].input>input {
    /*padding-left: 2.67142857em!important;*/
    padding-left: 1em!important;
    padding-right: 1em!important;
}
.ui.input.left{
	width:205px;
	padding-left: 0em!important
}
</style>