<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'app',

}


</script>

<style>
#app {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /*padding-right: 15px;*/
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
</style>
